.btnDate {
  background-color:white;
  border:none;
  color: #196481;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
  margin-right: 40px;
  float:left;
  font-weight: bold;

}

.btnDate[disabled] {
  background-color:#196481;
  border-color: #196481;
  color: white;
}

.btnDate:hover {
  background-color:#196481;
  border-color: #196481;
  color: white;
}

.datebuttons {
  margin-left: 310px;
}







