<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">
<style>
.empty{
    height: 1px; width: 1px; padding-right: 30px; float: left;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}

body{
font-family: 'Lato', sans-serif;
/*font-weight: bold;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Faustina', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
} 

.col-md-12 {
    width: 98% !important;
    left: 15px !important;
    padding-left: 20px !important;
}

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" class="ng-cloak">
      <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>

  <li ng-repeat="location in vehicle_list track by $index | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
  <ul class="nav" style="max-height:400px;overflow-x:hidden;overflow-y:scroll;">
   <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" data-trigger="hover" ng-class="{active:vehiname ==loc.vehicleId}">
                      <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
           <img ng-if="trvShow=='true'" ng-src="assets/imgs/trvSideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" 
              width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                         <span> {{loc.shortName}} </span>
                      </a> 
                   </li>
                </ul>
            </li>
           </ul>
            
        </div>
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default"></div>   
            </div>
        </div>
 
    <div class="col-md-12">
       <div class="box box-primary" style="padding-top: 5px;margin-top: 10px;">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip" >
                    <h3 class="box-title">{{reportNam}}</h3>
                </div>
               <div class="row">
                    <div class="col-md-2" align="center">
                        <div class="form-group" ng-if="shortNam!=undefined || shortNam!=null">
                          <h5 style="color: grey;">{{shortNam}}</h5>
                        </div>
                        <div class="form-group" ng-if="shortNam==undefined || shortNam==null">
                          <h5 style="color: red;">No vehicle selected!</h5>
                        </div>
                  </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
       
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
              <div class="row">
              <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                  <div class="form-group"></div>
                </div>
              </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary" style="min-height:570px;">
                <div>
                    <div class="pull-right" style="margin-top: 10px;margin-right: 5px;margin-bottom:10px;">
                        <img style="cursor: pointer;" ng-click="exportData(dowloadId)"  src="../resources/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV(dowloadId)"  src="../resources/views/reports/image/csv.jpeg" />
                    </div>
            <div class="box-body" id="{{dowloadId}}">
                <table ng-if="acReportShow" class="table table-bordered table-striped table-condensed table-hover" >
                  <thead>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Group</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(gName)}}</th>
                      <th style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Name</th>
                      <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{acData2.vehicleName}}</th>         
                    </tr>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#f9f9f9;">Vehicle Id</th>
                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{acData2.vehicleId}}</th>
                        <th  style="font-weight:unset;font-size:12px;background-color:#f9f9f9;">Total Duration</th>
                        <th  style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{durVarTot2}}</th>
                    </tr>
                    <tr style="text-align:center;" >
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">From Date & Time</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight:unset;font-size:12px;">{{acData2.fromTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;{{ acData2.fromTime | date:'HH:mm:ss'}}</th>
                      <th style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">To Date & Time</th>
                      <th style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{acData2.toTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;{{acData2.toTime | date:'HH:mm:ss'}}</th>
                    </tr>
                  </thead>
              </table>

              <table ng-if="acReportShow" class="table table-bordered table-striped table-condensed table-hover" style="margin-top: 10px;"> 
                <thead>
                  <tr style="text-align:center">
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Date & Time</th>
                    <th width="8%" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">{{reportTdNam}}</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Duration</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Address</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">G-Map</th>
                  </tr>
                  </thead>
                 <tbody>
            <!-- <tr ng-repeat="ac in acData.alarmList | orderBy:natural(sort.sortingOrder):sort.reverse" class="active" style="text-align:center">-->
                  <tr ng-repeat="ac in acData" class="active" style="text-align:center">
                    <td ng-if="ac.alarmType == 'A/C ON' || ac.alarmType == 'A/C OFF'">{{ac.alarmTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;{{ac.alarmTime | date:'HH:mm:ss'}}</td>
                    <td ng-if="ac.alarmType == 'A/C ON' || ac.alarmType == 'A/C OFF'">
                        <span ng-if="ac.alarmType == 'A/C ON'" style="color: #05c505;">ON</span>
                        <span ng-if="ac.alarmType == 'A/C OFF'" style="color: red;">OFF</span>
                    </td>
                    <!-- <td rowspan="2" ng-if="ac.alarmType == 'A/C ON'" style="text-align: center;padding-top: 15px;">{{msToTime(acData[$index+1].alarmTime-ac.alarmTime)}} </td> -->
                    <td rowspan="2"  ng-if="(ac.alarmType == 'A/C ON')&&($index+1<acData.length)" style="text-align: center;padding-top: 36px;">{{msToTime(acData[$index+1].alarmTime-ac.alarmTime)}} </td>
                    <td rowspan="2"  ng-if="(ac.alarmType == 'A/C ON')&&($index+1==acData.length)" style="text-align: center;padding-top: 36px;">{{msToTime(todaymillisec-ac.alarmTime)}} </td>
                    <td ng-if="ac.alarmType == 'A/C ON' || ac.alarmType == 'A/C OFF'"><p>{{ac.address}}</p></td>
                    <td ng-if="ac.alarmType == 'A/C ON' || ac.alarmType == 'A/C OFF'"><a href="https://www.google.com/maps?q=loc:{{ac.lat}},{{ac.lng}}" target="_blank">Link</a></td>
                  </tr> 
                  <tr align="center">
                    <td ng-if="acData == null || acData == undefined || acData.length==0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                  </tr>
                  </tbody>
              </table>   

              <table ng-if="prmEngineShow" class="table table-bordered table-striped table-condensed table-hover" >
                  <thead>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Group</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(gName)}}</th>
                      <th style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Name</th>
                      <th colspan="3" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{acData2.shortName}}</th>         
                    </tr>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#f9f9f9;">Vehicle Id</th>
                        <th colspan="2" style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{acData2.vehicleId}}</th>
                        <th  style="font-weight:unset;font-size:12px;background-color:#f9f9f9;">Total Duration</th>
                        <th  style="background-color:#ecf7fb;font-weight: unset;font-size:12px;">{{durVarTot}}</th>
                    </tr>
                    <tr style="text-align:center;" >
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">From Date & Time</th>
                      <th ng-if="acData2.fromDateTimeUTC!==0" colspan="2" style="background-color:#f9f9f9;font-weight:unset;font-size:12px;">{{acData2.fromDateTimeUTC | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;{{ acData2.fromDateTimeUTC | date:'HH:mm:ss'}} </th>
                      <th ng-if="acData2.fromDateTimeUTC==0" colspan="2" style="background-color:#f9f9f9;font-weight:unset;font-size:12px;">-</th>
                      <th style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">To Date & Time</th>
                      <th ng-if="acData2.toDateTimeUTC!==0" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{acData2.toDateTimeUTC | date:'yyyy-MM-dd'}}&nbsp;&nbsp;&nbsp;{{acData2.toDateTimeUTC | date:'HH:mm:ss'}}</th>
                      <th ng-if="acData2.toDateTimeUTC==0" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">-</th>
                    </tr>
                  </thead>
              </table>   

            <table ng-if="prmEngineShow" class="table table-bordered table-striped table-condensed table-hover" style="margin-top: 10px;"> 
                <thead>
                  <tr style="text-align:center">
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Date & Time</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">{{reportTdNam}}</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Duration</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Address</th>
                    <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">G-Map</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="ac in acData" style="text-align:center">
                   
                     <td ng-if="ac.ignitionStatus == 'ON' || ac.ignitionStatus == 'OFF'">{{ac.date | date:'yyyy-MM-dd'}}&nbsp;&nbsp;{{ac.date | date:'HH:mm:ss'}}</td>
                     <td ng-if="ac.ignitionStatus == 'ON' || ac.ignitionStatus == 'OFF'">{{ac.ignitionStatus}}</td>
                     <!-- <td rowspan="2" ng-if="ac.ignitionStatus == 'ON'">{{msToTime(acData[$index+1].date-ac.date)}}</td> -->
                      <td rowspan="2" style="padding-top: 36px;" ng-if="(ac.ignitionStatus == 'ON')&&($index+1<acData.length)">{{msToTime(acData[$index+1].date-ac.date)}}</td>
                     <td rowspan="2" style="padding-top: 36px;" ng-if="(ac.ignitionStatus == 'ON')&&($index+1==acData.length)">{{msToTime(todaymillisec-ac.date)}}</td>
                     <td ng-if="ac.ignitionStatus == 'ON' || ac.ignitionStatus == 'OFF'"><p>{{ac.address}}</p></td>
                     <td ng-if="ac.ignitionStatus == 'ON' || ac.ignitionStatus == 'OFF'"><a href="https://www.google.com/maps?q=loc:{{ac.latitude}},{{ac.longitude}}" target="_blank">Link</a></td>

                  </tr> 
                  <tr align="center">
                    <td ng-if="acData == null || acData == undefined || acData.length==0" colspan="8" class="err"><h5>Got zero records. Please change the dates and try.</h5></td>
                  </tr>
              </table> 

                       </div>
                    </div>
                </div>
            </div>

          </div>
        </div>

    <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script>-->
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/acReportNew.js"></script>
    
    <script>

        $("#example1").dataTable();
          
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false,
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });
               
                $('#timeFrom').datetimepicker({
                    pickDate: false,
                    
                });
                $('#timeTo').datetimepicker({
                    pickDate: false,
                    
                });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

 </script>
    
</body>
</html>
