<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title><?php echo Lang::get('content.gps'); ?></title>
  <link rel="shortcut icon" href="assets/imgs/tab.ico">
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
  <link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/jVanilla.css" rel="stylesheet">
  <link href="assets/css/simple-sidebar.css" rel="stylesheet">
  <link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
  <link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    
    /*.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 1px;
    }*/
    .boxing_size{
     margin-top: 15px ;

   }
/*tr.selected {
    background-color: green
}

.selected{
  background:black;
  color:white;
  }*/

</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2X3F316479"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2X3F316479');
</script>
</head>
<div id="preloader" >
  <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
  <div id="status02">&nbsp;</div>
</div>
<body ng-app="mapApp" class="ng-cloak">
  <div id="wrapper-site" ng-controller="mainCtrl">
   <div id="sidebar-wrapper-site">
    <ul class="sidebar-nav">
      <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
      <li class="track"><a href="../public/track"><div></div><label>{{ "Track" | translate }}</label></a></li>
      <li class="alert01"><a href="../public/reports"><div></div><label>{{ "Reports" | translate }}</label></a></li>
      <li class="stastics"><a href="../public/statistics"><div></div><label>{{ "Statistics" | translate }}</label></a></li>
      <li class="admin"><a href="../public/settings?ind=1"><div></div><label>{{ "Scheduled" | translate }}</label></a></li>
      <li class="fms" ng-hide="dealerName=='TECHBITS'"><a href="" id="fms"><div></div><label>{{ "FMS" | translate }}</label></a></li>
      <li class="ReleaseNotes"><a ng-href="pdfView"><div></div><label style="line-height: 25px;">Release</br> Notes</label></a></li>
      <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
    </ul>
  </div>
  <div id="testLoad" style="margin-left: -1%"></div>
  
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="panel panel-default">
       
      </div>   
    </div>
    
  </div>
  <div id="page-content-wrapper" style="background-color: #e7e7e7; width: 100%; height: 100vh;" ng-hide="_tabValue">
   
    <label align="center" style="top: 25%; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; font-weight: bold;" class="panel-title">{{ "Reconfirm_Password" | translate }}</label>
    <div style=" width: 100%; height: 100vh; padding: 10px;">
      <div style="width: 400px; height: 200px; background-color: #f4f4f4; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px; float:left; box-shadow: 5px 5px 2px 2px #888888;">
        <input type="password" name="password" style="width: 250px; height:30px; top: 0; left: 0; bottom: 0; right: 0; margin: auto; position: absolute; border-radius: 4px" placeholder="{{ 'Password' | translate }} " ng-model="pwd" autofocus="autofocus">
        <span style="width: 60px; height:30px; top: 100px; left: 0; bottom: 0; right: 0;  margin: auto;position: absolute; border-radius: 4px; background-color: #357ebd; cursor: pointer; padding: 4px; color: #fff" align="center" id="myBtn" ng-click="passwordConfirm()">{{ "Submit" | translate }}</span>
      </div>
    </div>
  </div>
  <div ng-show="_tabValue">


    <div class="row">
      <div class="col-md-6 boxing_size">
        <div class="box box-primary" style="margin-left: 10px">
          <div class="box-header">
            <h3 class="box-title"><b>{{ "Groups" | translate }}</b>
            </h3>
            <h5 style="color: red">{{error}}</h5>
            <div class="box-tools" >
              <div class="pull-right helpVideo" style="margin-left: 10px;">
               <span><a ng-href="{{videoLink}}" target="_blank"><i class="fa fa-question-circle fa-lg" style="font-size: 15px;"></i></a></span>
               <span><a ng-href="{{videoLink}}" style="color: #196481;text-decoration: none;position: relative;top: 1px;font-weight: bold;" target="_blank"><?php echo Lang::get('content.help'); ?></a></span>
             </div>
             <span class="pull-right" style="margin-left: 5px"><a  class="bbtn btn-xs btn-danger pull-right" style="color: #fff;background-color: #f56954;border-color: #f4543c;
             height: 22px;;" href="../public/track"><span class="glyphicon glyphicon-home"></span> <?php echo Lang::get('content.home'); ?></a></span>
             <span class="pull-right" style="margin-left: 5px"><input class="btn btn-xs btn-danger pull-right" type="button" value= "{{ 'add_group' | translate }}" ng-click="addGroup()"></span>
             
           </div>
         </div>
         
         <table class="table table-bordred table-hover">
          <thead>
            <th>{{ "SNo" | translate }}</th>
            <th>{{ "GroupName" | translate }}</th>
            <th>{{ "Edit" | translate }}</th>
            <th>{{ "Save" | translate }}</th>
            <th>{{ "Delete" | translate }}</th>
          </thead>
          <tbody>
            <tr ng-repeat="groups in groupList" >
              <td>{{$index+1}}</td>
              <td>{{trimColon(groups.groupName)}}  <input type="text" name="grpN" ng-if="groups.groupName == ''" ng-model="groups.newGp" ng-change="changevalue(groups.newGp, $index)"></td>
              <td><button class="btn btn-primary btn-xs" ng-click="editGroup(groups.groupName)"><span class="glyphicon glyphicon-pencil"> </span></button></td>
              <td><button class="btn btn-primary btn-xs" ng-click="updateGroup(groups.groupName)"><span class="glyphicon glyphicon-floppy-disk"></span></button></td>
              <td><button class="btn btn-danger btn-xs" ng-if="groupCount>1 || groups.groupName == ''"  ng-click="removeGroup(groups.groupName)"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-md-6 boxing_size" ng-show="vehiList.length >= 1">
      <div class="box box-primary" style="padding: 0px">
        <div class="box-header">
          <h3 class="box-title">{{ vehiLabel | translate }}</h3>
          <div class="box-tools pull-right">
           <span class="pull-right"><a>{{ "GroupName" | translate }}&nbsp;|&nbsp;{{trimColon(grpName)}}</a></span>        
         </div>
         
       </div>
       
       <table id="mytable" class="table table-bordred table-hover" cellspacing="0" width="100%">
        <thead>
          <th><input type="checkbox" ng-model="check_box" ng-click="checkAll()"/></th>
          <th>{{ vehiLabel | translate }} {{ "Name" | translate }}</th>
          <!-- <th>ShortName</th> -->
        </thead>
        <tbody>
          <tr ng-repeat="vehi in vehiList">
            <td><input type="checkbox" ng-model="vehi.check" ng-checked="vehi.check" /></td>
            <!-- <td>{{vehi.vehicles}}</td> -->
            <td>{{vehi.shortName}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>
</div>
</div>   

<script src="assets/js/static.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
<script src="assets/js/angular-translate.js"></script>

<!-- <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript"></script> -->

<script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vamoApp.js"></script>
<script src="assets/js/services.js"></script>
<script src="assets/js/auth_pwd.js?v=<?php echo Config::get('app.version');?>"></script>
   <!-- <script type="text/javascript">
    $(document).ready(function() {
        $('#mytable').DataTable( {
            "order": [[ 1, "desc" ]]
        });
    });
  </script> -->


  <script>

    document.onkeyup = enter;    
    function enter(e) {

      if (e.which == 13){
       //alert('inside function');
       $('#myBtn').attr('ng-click','passwordConfirm()').click(); 
     //$('a[ng-click="passwordConfirm()"]').click();
   }
 }

  // if (event.keyCode === 13) {
  //  // eval($('#myBtn').attr('ng-click'));
  //   $('#myBtn').attr('ng-click','passwordConfirm()');
  // }

</script>

</body>
</html>
