<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style type="text/css">
    body{
   font-family: 'Lato', sans-serif;
 /*font-weight: bold;
   font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Raleway', sans-serif;
   font-family: 'Faustina', serif;
   font-family: 'PT Sans', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Droid Sans', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
  */
} 
</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
<div id="wrapper" ng-controller="mainCtrl" class="ng-cloak">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
            <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
            <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
            <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
            <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
            <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
            <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
            <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
        </ul>
        <ul class="sidebar-subnav">
            <li style="padding-left:25px;">
                <div class="right-inner-addon" align="center"> 
                <i class="fa fa-search"></i>
                <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                </div>
            </li>
            <li ng-repeat="location in vehicle_list" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                <li ng-repeat="loc in location.vehicleLocations | filter:searchbox" ng-class="{active:vehiname ==loc.vehicleId}"><a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
           <!-- <img ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/> -->
                <img ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car_P.png" width="16" height="16"/>
                <span>{{loc.shortName}}</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
        
    <div id="testLoad"></div>
     <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="panel panel-default">
             
            </div>   
        </div>
    </div>
 
    <!-- AdminLTE css box-->

    <div class="col-md-12">
       <div class="box box-primary">
        <!-- <div class="row"> -->
            <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                <h3 class="box-title">Alarm Report</h3>
            </div>
            <div class="row">
                <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                    <div class="form-group">
                        <div class="input-group datecomp">
                            <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                            <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2" align="center">
                    <div class="form-group">
                        <div class="input-group datecomp">
                            <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2" align="center">
                    <div class="form-group">
                        <div class="input-group datecomp">
                            <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                            <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2" align="center">
                    <div class="form-group">
                        <div class="input-group datecomp">
                            <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-1" align="center"></div>
                 <div class="col-md-1" align="center">
                    <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                </div>
            </div>

              <!--  </div> -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="pull-right">
                <img style="cursor: pointer;" ng-click="exportData('alarmreport')"  src="../resources/views/reports/image/xls.png" />
                <img style="cursor: pointer;" ng-click="exportDataCSV('alarmreport')"  src="../resources/views/reports/image/csv.jpeg" />
            </div>
            <div class="box-body table-responsive" id="alarmreport">
                <p style="margin:0" class="page-header">Alarm Report <span style="float: right;">From : {{uiDate.fromdate}} {{uiDate.fromtime}} - To : {{uiDate.todate}} {{uiDate.totime}}</span></p>
                            
                    <table class="table table-bordered table-striped table-condensed table-hover">
                        <thead>
                            <tr style="text-align:center; font-weight: bold;">
                                <td>{{vehiLabel}} Group</td>
                                <td>{{uiGroup}}</td>
                                <td>{{vehiLabel}} Name</td>
                                <td>{{shortNam}}</td>   
                            </tr>
                            <tr><td colspan="4"></td></tr>
                            <tr style="text-align:center;font-weight: bold;">
                                <th class="id" custom-sort order="'alarmTime'" sort="sort" style="text-align:center;" width="25%">Date &amp; Time</th>
                                <th class="id" custom-sort order="'alarmType'" sort="sort" style="text-align:center;" width="25%">Alarm Type</th>
                                
                                <th class="id" custom-sort order="'address'" sort="sort" style="text-align: center;" width="35%">Nearest Location</th>
                                <th class="id" style="text-align: center;" width="15%">G-Map</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="active" style="text-align:center" ng-repeat="alarm in siteData.alarmList | orderBy:sort.sortingOrder:sort.reverse">
                                <td>{{alarm.alarmTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <!-- <td>{{alarm.toTime | date:'yyyy-MM-dd HH:mm:ss'}}</td> -->
                                <td>{{alarm.alarmType}}</td>
                                <td>
                                
                                    <p ng-if="alarm.address!=null">{{alarm.address}}</p>
                                    <p ng-if="alarm.address==null && addressFuel[$index]!=null">{{addressFuel[$index]}}</p>
                                    <p ng-if="alarm.address==null && addressFuel[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p>
                                </td> 
                                <td><a href="https://www.google.com/maps?q=loc:{{alarm.lat}},{{alarm.lng}}" target="_blank">Link</a></td>
                            </tr>
                            <tr ng-if="siteData.alarmList =='' || siteData.alarmList.length==0 || siteData.alarmList == null" align="center">
                                <td colspan="4" class="err"><h5>No Data Found! Choose some other date</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
    <script src="assets/js/static.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/siteReport.js"></script>
    <script>

   
        // $("#example1").dataTable();
          
        // $("#menu-toggle").click(function(e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });
        
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false
                });
                $('#timeFrom').datetimepicker({
                    pickDate: false,
                    
                });
                $('#timeTo').datetimepicker({
                    pickDate: false,
                    
                });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


  </script>
</body>
</html>