<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>

<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>
body {
      font-family: 'Lato', sans-serif;
   /* font-weight: bold; */  
   /* font-family: 'Lato', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Faustina', serif;
      font-family: 'PT Sans', sans-serif;
      font-family: 'Ubuntu', sans-serif;
      font-family: 'Droid Sans', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
      */
  }
.empty{
    height: 1px; width: 1px; padding-right: 30px; float: left;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" class="ng-cloak">
      <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>

              <li ng-repeat="location in vehicle_list" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>

                <ul class="nav" style="max-height:400px;overflow-x:hidden;overflow-y:scroll;">

                  <!-- <li ng-repeat="loc in location.vehicleLocations | filter:searchbox" data-trigger="hover" ng-class="{active:vehiname ==loc.vehicleId}">
                      <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
                        <img ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                         <span> {{loc.shortName}} </span>
                      </a> 
                    </li> -->

                    <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" data-trigger="hover" ng-class="{active:vehiname==loc.vehicleId}">
                      <a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
                        <img ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car_P.png" width="16" height="16"/>
                        <img ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                        <span>{{loc.shortName}}</span>
                      </a>
                    </li>

                </ul>
            </li>
           </ul>
            
        </div>
        
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>
 


    <div class="col-md-12">
       <div class="box box-primary" style="padding-top: 5px;margin-top: 10px;">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip" >
                    <h3 class="box-title">Consolidated Primary Engine Report</h3>
                </div>
               <div class="row">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-1" align="center">
                        <div class="form-group">
                            
                                <select class="input-sm form-control" ng-model="interval">
                                     <option value="">Interval</option>
                                     <option label="1 mins">1</option>
                                     <option label="2 mins">2</option>
                                     <option label="5 mins">5</option>
                                     <option label="10 mins">10</option>
                                     <option label="15 mins">15</option>
                                     <option label="30 mins">30</option>
                                </select>
                           
                        </div>
                    </div>
                    -->
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
              <div class="row">
              <div class="col-md-1" align="center"></div>

               <div class="col-md-2" align="center">
                        <div class="form-group">

                         </div>
                  </div>
              </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-primary" style="min-height:570px;">
        
              <div>

                    <div class="pull-right" style="margin-top: 10px;margin-right: 5px;">
                        <a style="cursor: pointer; margin-right: 15px;" ng-click="exportData('PrimaryEngineDuration')">View Summary</a>                     
                        <img style="cursor: pointer;" ng-click="exportData('ConPrimEngineReport')"  src="../resources/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV('ConPrimEngineReport')"  src="../resources/views/reports/image/csv.jpeg" />
                    </div>                  
              
                <div class="box-body" id="ConPrimEngineReport">

                    <div class="empty" align="center"></div>
           
                      <div class="row" style="padding-top: 20px;"></div>

                        <table class="table table-striped table-bordered table-condensed table-hover" style="padding:10px 0 10px 0;">
                                          
                                <tbody ng-repeat="data in conPriEngData"  ng-init="totalDur=0">
                                      <tr style="text-align:center;height:30px;">
                                        <td width="40%" colspan="2" style="font-size:13px;background-color:#C2D2F2;"><b>Vehicle Name : {{data.vehicleName}}</b></td>
                                        <td width="45%" colspan="2" style="font-size:13px;background-color:#C2D2F2;"><b>Vehicle Id : {{data.vehicleId}}</b></td>    
                                        <td width="15%" style="font-size:13px;background-color:#C2D2F2;"><b>Total Duration : {{msToTime(totalDur)}}</b></td>    
                                      </tr>
                                      <!-- <tr><td colspan="4" bgcolor="grey"></td><tr> -->
                                      <tr>
                                        <td width="20%" style="font-size:12px;background-color:#ecf7fb;"><b>Date&Time</b></td>
                                        <td width="10%" style="font-size:12px;background-color:#ecf7fb;"><b>Ignition Status</b></td>
                                        <td width="15%" style="font-size:12px;background-color:#ecf7fb;"><b>Duration</b></td>
                                        <td width="45%" style="font-size:12px;background-color:#ecf7fb;"><b>Address</b></td>  
                                        <td width="10%" style="font-size:12px;background-color:#ecf7fb;"><b>G-Map</b></td>                                      
                                      </tr>
                                     
                                     <tr ng-repeat="subdata in data.getEngineData" style="padding-bottom:20px;">
                                         <td>{{subdata.dateTime | date:'yyyy-MM-dd'}}&nbsp;&nbsp;{{subdata.dateTime | date:'HH:mm:ss'}}</td>
                                         <td>{{subdata.ignitionStatus}}</td>
                                         <td rowspan="2" ng-if="subdata.ignitionStatus == 'ON' ">{{msToTime(data.getEngineData[$index+1].dateTime-subdata.dateTime)}}</td>
                                         <td>{{subdata.address}}</td>
                                         <td><a href="https://www.google.com/maps?q=loc:{{subdata.latitude}},{{subdata.longitude}}" target="_blank">Link</a></td>
                                         <td class="removeDuration" ng-init="subdata.ignitionStatus == 'ON' ?$parent.totalDur=$parent.totalDur+(data.getEngineData[$index+1].dateTime-subdata.dateTime):'  '" style="display: none;">{{(totalDur)}}</td>
                                      </tr> 
                                    <tr ng-if="data.getEngineData.length==0" style="text-align: center">
                                        <td colspan="5" class="err"><h5>No Data Found! Choose some other date and time!</h5></td>
                                    </tr> 
                                  
                                      <tr><td colspan="5" bgcolor="grey"></td><tr>
                                </tbody>
                                    <tr ng-if="conPriEngData.length==0" style="text-align: center">
                                        <td colspan="5" class="err"><h5>No Data Found! Choose some other date and time!</h5></td>
                                    </tr>
                          </table>  

                        </div>

                        <div class="row" ng-hide="true" id="PrimaryEngineDuration">

                        <table class="table table-striped table-bordered table-condensed table-hover" style="padding:10px 0 10px 0;">
                                    <thead>
                                    <tr>
                                      <th colspan="2" style="font-size:16px;">Vehicle Name</th>
                                      <th colspan="2" style="font-size:16px;">Vehicle Id</th>
                                      <th colspan="2" style="font-size:16px;">Total Duration</th>
                                    </tr>
                                    </thead>      
                                <tbody ng-repeat="data in conPriEngData"  ng-init="totalDur=0">
                                      <tr style="text-align:center;height:30px;">
                                        <td width="40%" colspan="2" style="font-size:14px;"><b>{{data.vehicleName}}</b></td>
                                        <td width="45%" colspan="2" style="font-size:14px;"><b>{{data.vehicleId}}</b></td>    
                                        <td width="15%" colspan="2" style="font-size:14px;"><b>{{msToTime(totalDur)}}</b>
                                        <div ng-repeat="subdata in data.getEngineData" class="deleteRows" style="padding-bottom:20px;display: none;">
                                         <span ng-init="subdata.ignitionStatus=='ON'?$parent.totalDur=$parent.totalDur+(data.getEngineData[$index+1].dateTime-subdata.dateTime):'  '" style="display: none;">{{(totalDur)}}</span>
                                        </div>  
                                        </td>   
                                     
                                      </tr>
                                     
                                </tbody>
                          </table>  

                        </div>

  

                    </div>
                </div>
            </div>

          </div>
        </div>


    <script src="assets/js/static.js"></script>
    <script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/conPrimEngineReport.js"></script>
    
    <script>

   
        $("#example1").dataTable();
          
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false
                });
                $('#timeFrom').datetimepicker({
                    pickDate: false,
                    
                });
                $('#timeTo').datetimepicker({
                    pickDate: false,
                    
                });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


  </script>
    
</body>
</html>

