<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>VAMOSGPS</title>
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="../resources/views/reports/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css">

</head>

<style>
	.box > .loading-img {
z-index: 1020;
background: transparent url('../resources/views/reports/ajax-loader1.gif') 50% 50% no-repeat;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}

</style>
<body ng-app="hist">
	<div ng-controller="histCtrl">
       
	       	<div class="box">
		        
		       
		        <div class="box-body">
		        	
					 		 <center><h3><b>{{tableTitle}}</b></h3></center>
					 		 <h4 class="pull-right">From : {{fd}} {{ft}} To : {{td}} {{tt}}</h4>
			   				 <div ng-show='overspeedreport'>
			   				 <table class="table table-bordered table-striped table-condensed table-hover">
			   				 	<thead>
								   	<tr style="text-align:center; font-weight: bold;" >
									  	<td colspan="3"><b>Vehicle Group</b></td>
									  	<td>{{dvgroup}}</td>
									  	<td colspan="2"><b>Vehicle ID</b></td>
									  	<td>{{hist.vehicleId}}</td>	
								  	</tr>
								  	<tr style="text-align:center; font-weight: bold;">
									  	<td colspan="3"><b>Regn No</b></td>
								       	<td>{{hist.regNo}}</td>
								      	<td colspan="2"><b>Speed Limit</b></td>
								      	<td>{{hist.overSpeedLimit}} Kmph</td>
								    </tr>
									<tr> 
										<th width="12%" class="id" custom-sort order="'lastSeen'" sort="sort" style="text-align:center;">Last Seen</th>
										<th width="10%" class="id" custom-sort order="'speed'" sort="sort" style="text-align:center;">Speed</th>
										<th width="13%" class="id" custom-sort order="'latitude'" sort="sort" style="text-align:center;">Location</th>
										<th width="30%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;">Address</th>
										<th ng-hide="true" class="id" custom-sort order="'isOverSpeed'" sort="sort" style="text-align:center;">Over Speed</th>
										<th width="12%" class="id" custom-sort order="'odoDistance'" sort="sort" style="text-align:center;">Odo (Km)</th>
										<th width="13%" class="id" custom-sort order="'tripDistance'"  sort="sort" style="text-align:center;">Trip (Km)</th>
										<th width="10%" colspan="2" class="id" custom-sort order="''" sort="sort" style="text-align:center;">G-Map</th>
									</tr></thead>
									<tr ng-repeat="user in overspeeddata.slice().reverse() | orderBy:sort.sortingOrder:sort.reverse" class="active" style="text-align:center">
										<td>{{user.lastSeen}}</td>
										<td>{{user.speed}}</td>
										<td>{{user.latitude}}, {{user.longitude}}</td>
										<td ng-if="user.address!=null">{{user.address}}</td>
										<td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && oaddress[$index]==null">Click Me</td>
										<td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && oaddress[$index]!=null">{{oaddress[$index]}}</td>
										<td ng-hide="true">{{user.isOverSpeed}}</td>
										<td>{{user.odoDistance}}</td>
										<td>{{user.tripDistance}}</td>
										<td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>						
									</tr>
							</table>
							</div>
			   			
			   				 <div ng-show='movementreport'>
			   				<table class="table table-bordered table-striped table-condensed table-hover">
			   				 	<thead>
								   	<tr style="text-align:center; font-weight: bold;">
									  	<td colspan="2">Vehicle Group</td>
									  	<td>{{id}}</td>
									  	<td colspan="1">Vehicle ID</td>
									  	<td colspan="2">{{hist.vehicleId}}</td>					
								  	</tr>
								  	<tr style="text-align:center;font-weight: bold;">
									  	<td colspan="2">Regn No</td>
								       	<td>{{hist.regNo}}</td>
								      	<td colspan="1">Speed Limit</td>
								      	<td colspan="2">{{hist.overSpeedLimit}} Kmph</td>
								    </tr>
								     <tr style="text-align:center;font-weight: bold;">
									  	<td colspan="2">Opening OdoReading</td>
								       	<td>{{hist.openingOdoReading}}</td>
								      	<td colspan="1">Closing OdoReading</td>
								      	<td colspan="2">{{hist.closingOdoReading}}</td>
								    </tr>
									<tr style="text-align:center" >
										<th width="12%" class="id" custom-sort order="'lastSeen'" sort="sort" style="text-align:center;">Last Seen</th>
										<th width="13%" class="id" custom-sort order="'speed'" sort="sort" style="text-align:center;">Speed</th>
										<th width="10%" class="id" custom-sort order="'latitude'" sort="sort" style="text-align:center;">Location</th>
										<th width="40%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;">Address</th>
										<th width="12%" class="id" custom-sort order="'isOverSpeed'" sort="sort" style="text-align:center;">Overspeed</th>
										<th width="13%" class="id" custom-sort order="'insideGeoFence'" sort="sort" style="text-align:center;">GeoFence</th>
									</tr></thead>
									 
													                
					                <tbody>
									<tr ng-repeat="user in movementdata | orderBy:sort.sortingOrder:sort.reverse " class="active" style="text-align:center">
										<td>{{user.lastSeen}}</td>
										<td>{{user.speed}}</td>
										<td>{{user.latitude}}, {{user.longitude}}</td>
										<td ng-if="user.address!=null">{{user.address}}</td>
										<td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && maddress[$index]==null">Click Me</td>
										<td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && maddress[$index]!=null">{{maddress[$index]}}</td>
										<td>{{user.isOverSpeed}}</td>
										<td>{{user.insideGeoFence}}</td>
									</tr>	
							</table>
							</div>
			   			 
			   				<div ng-show='stoppedparkingreport'>
			   				<table class="table table-bordered table-striped table-condensed table-hover">
			   				 	<thead>
								   	<tr style="text-align:center; font-weight: bold;">
									  	<td colspan="2"><b>Vehicle Group</b></td>
									  	<td>{{id}}</td>
									  	<td colspan="1"><b>Vehicle ID</b></td>
									  	<td colspan="2">{{hist.vehicleId}}</td>
									  	<td ng-hide="true" colspan="2"><b>Register No</b></td>
								       	<td ng-hide="true">{{hist.regNo}}</td>				
								  	</tr>
								  	
									<tr style="text-align:center;font-weight: bold;">
										
										<th width="13%" class="id" custom-sort order="'lastSeen'" sort="sort" style="text-align:center;">Last Seen</th>
										<th width="12%" class="id" custom-sort order="'latitude'" sort="sort" style="text-align:center;">Location</th>
										<th width="40%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;">Address</th>
										<th width="15%" colspan="2" class="id" custom-sort order="'parkedTime'" sort="sort" style="text-align:center;">Parked Time</th>
										<th width="20%" colspan="2" class="id" custom-sort order="'totalParkedTime'" sort="sort" style="text-align:center;">Total Parked Time</th>
									</tr></thead>
									<tbody>
									<tr ng-repeat="user in parkeddata | orderBy:sort.sortingOrder:sort.reverse" class="active" style="text-align:center">
										
										<td>{{user.lastSeen}}</td>
										<td>{{user.latitude}}, {{user.longitude}}</td>
										<td ng-if="user.address!=null">{{user.address}}</td>
										<td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && saddress[$index]==null">Click Me</td>
										<td get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} title="{{locationname}}" ng-if="user.address==null && saddress[$index]!=null">{{saddress[$index]}}</td>
										<td colspan="2">{{getParkedCorrectHours(user.parkedTime)}}</td>
										<td colspan="2">{{getParkedCorrectHours(user.totalParkedTime)}}</td>
									</tr>
									</tbody>								
							</table> 
							</div>
			   			 
			   				  <div ng-hide="true" ng-show='geofencereport'>
			   				 <table class="table table-bordered table-striped table-condensed table-hover">
			   				 	<thead>
								   	<tr style="text-align:center; font-weight: bold;">
									  	<td colspan="1">Reg No</td>
									  	<td >{{hist.regNo}}</td>
									  	<td colspan="1">Vehicle ID</td>
									  	<td >{{hist.vehicleId}}</td>					
								  	</tr>
								  	<tr style="text-align:center; font-weight: bold;">
									  	<td colspan="1">GeoFenceId</td>
								       	<td>{{geofencedata[0].geoFenceId}}</td>
								      	<td colspan="1">GeoFenceType</td>
								      	<td>{{geofencedata[0].geoFenceType}}</td>
								    </tr>
									<tr style="text-align:center" >
										<th class="id" custom-sort order="'geoLocation'" sort="sort" style="text-align:center;">Location</th>
										<th class="id" custom-sort order="'inTime'" sort="sort" style="text-align:center;">In Time</th>
										<th class="id" custom-sort order="'proximity'" sort="sort" style="text-align:center;">Proximity</th>
										<th class="id" custom-sort order="'dangling'" sort="sort" style="text-align:center;">Dangling</th>
									</tr></thead>
									<tr ng-repeat="user in geofencedata | orderBy:sort.sortingOrder:sort.reverse" class="active" style="text-align:center">
										<td>{{user.geoLocation}}</td>
										<td>{{user.inTime}}</td>
										<td>{{user.proximity}}</td>
										<td>{{user.dangling}}</td>
									</tr>								
							</table>
							</div>
			   		
    		 		
    		 		      		
		        </div><!-- /.box-body -->
		       
		        <div ng-show="loading" class="overlay"></div>
	   <div ng-show="loading" class="loading-img"></div>
		    </div>	

       
                 
	<script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="assets/js/static.js"></script>
	<script src="../resources/views/reports/customjs/history.js"></script>
	<script>
	    
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
					format:'YYYY-MM-DD',
					useCurrent:true,
					pickTime: false
				});
				$('#timeFrom').datetimepicker({
					pickDate: false
				});
				$('#timeTo').datetimepicker({
					useCurrent:true,
					pickDate: false
				});
        });
        
       
        
    </script>
</body>
</html>

