<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>
.empty {
   height: 1px; width: 1px; padding-right: 30px; float: left;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color: #ffffff;
}

body {
  font-family: 'Lato', sans-serif;
  /*font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Faustina', serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  */
} 

.col-md-12 {
   width: 98% !important;
   left: 15px !important;
   padding-left: 20px !important;
}

/*
.chart {
    min-width: 320px;
    max-width: 800px;
    height: 280px;
    margin: 0 auto;
}

#container {
    width: 80%;
    height: unset !important; 
    max-width: 80%;
    max-height: unset !important; 
    min-height: 500px !important;
    margin-top: 10px !important;
}
*/

</style>

</head>

<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div ng-controller="mainCtrl" class="ng-cloak">
      <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>

      <li ng-repeat="location in vehicle_list track by $index | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
        <ul class="nav" style="max-height:400px;overflow-x:hidden;overflow-y:scroll;">
            <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" data-trigger="hover" ng-class="{active:vehiname ==loc.vehicleId}">
              <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
              <img ng-if="trvShow=='true'" ng-src="assets/imgs/trvSideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" 
              width="16" height="16"/>
              <img ng-if="trvShow!='true'" ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                         <span> {{loc.shortName}} </span>
                      </a> 
                   </li>
                </ul>
            </li>
           </ul>
            
        </div>
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default"></div>   
            </div>
        </div>
 
    <div class="col-md-12">
       <div class="box box-primary" style="padding-top: 5px;margin-top: -20px;">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip" >
                    <h3 class="box-title">Fuel Machinery Report</h3>
                </div>
               <div class="row">
                    <div class="col-md-2" align="center">
                        <div class="form-group" ng-if="shortNam!=undefined || shortNam!=null">
                          <h5 style="color: grey;">{{shortNam}}</h5>
                        </div>
                     
                  </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
       
                 <!--   <div class="col-md-1" align="center">
                          <div class="form-group">
                              <div class="input-group datecomp">
                                <select class="input-sm form-control" ng-model="interval">
                                   <option value="">Interval</option>
                                   <option label="1 mins">1</option>
                                   <option label="2 mins">2</option>
                                   <option label="5 mins">5</option>
                                   <option label="10 mins">10</option>
                                   <option label="15 mins">15</option>
                                   <option label="30 mins">30</option>
                                </select>
                            </div>
                          </div>
                     </div>-->
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -42%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
              <div class="row">
              <div class="col-md-1" align="center"></div>
                <div class="col-md-2" align="center">
                  <div class="form-group"></div>
                </div>
              </div>

            </div>
        </div>

        <div class="col-md-12" style="border-color: unset!important;">
            <div class="box box-primary" style="min-height:570px;background-color:#fdfdfd;">
                <div>
                    <div class="pull-right" style="margin-top: 10px;margin-right: 5px;margin-bottom:10px;">
                        <img style="cursor: pointer;" ng-click="exportData('fuelMachineReport')"  src="../resources/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV('fuelMachineReport')"  src="../resources/views/reports/image/csv.jpeg" />
                    </div>
           
        <div class="box-body">
                                        
              <div style="margin-top: 20px;" id="fuelMachineReport">

               <table class="table table-bordered table-striped table-condensed table-hover" >
                  <thead>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Group</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{trimColon(gName)}}</th>
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Vehicle Name</th>       
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{shortNam}}</th>   
                    </tr>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Total Fuel Consume</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{fuelMachineData.tFuelCon}}</th>
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Total Distance</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{fuelMachineData.tdistance}}</th>   
                    </tr> 
                     <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Start Fuel Level</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{fuelMachineData.sFuelLevel}}</th>
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">End Fuel Level</th>       
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{fuelMachineData.eFuelLevel}}</th>   
                    </tr>
                    <tr style="text-align:center;">
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Total Fuel Fill</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{roundOffDecimal(fuelMachineData.totalFuelFills)}}</th>
                      <th colspan="2" style="font-weight:unset;font-size:12px;background-color:#ecf7fb;">Total Fuel Theft</th>
                      <th colspan="2" style="background-color:#f9f9f9;font-weight: unset;font-size:12px;">{{roundOffDecimal(fuelMachineData.totalFuelDrops)}}</th>   
                    </tr> 
                  </thead>
              </table>

              <div style="padding-top: 15px;"> 

            <tabset class="nav-tabs-custom">

              <tab heading="Fuel Fill" active="true">

              <table class="table table-bordered table-striped table-condensed table-hover" style="margin-top: 10px;"> 
                <thead>
                <tr style="text-align:center">
                  <th class="id" custom-sort order="'time'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">From Time</th>
                  <th class="id" custom-sort order="'time'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">To Time</th>
                  <th class="id" custom-sort order="'pFuel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Previous Fuel</th>
                  <th class="id" custom-sort order="'cFuel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Current Fuel</th>
                  <th class="id" custom-sort order="'lt'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Fuel Fill</th>
                  <th class="id" custom-sort order="'odo'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Odo</th>          
                  <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">G-Map</th>                    
                </tr>
                </thead>
                <tbody ng-repeat="fuel in fuelMachineData.fuelFills | orderBy:natural(sort.sortingOrder):sort.reverse">
                  <tr>
                    <td>{{fuel.startTime | date:'HH:mm:ss'}}&nbsp;&nbsp;&nbsp;{{fuel.startTime | date:'dd-MM-yyyy'}}</td>
                    <td>{{fuel.time | date:'HH:mm:ss'}}&nbsp;&nbsp;&nbsp;{{fuel.time | date:'dd-MM-yyyy'}}</td>
                    <td>{{fuel.pFuel}}</td>                    
                    <td>{{fuel.cFuel}}</td>
                    <td>{{roundOffDecimal(fuel.lt)}}</td>
                    <td>{{fuel.odo}}</td>         
                    <td><a href="https://www.google.com/maps?q=loc:{{fuel.lat}},{{fuel.lng}}" target="_blank">Link</a></td>                  
                  </tr> 
                </tbody>
                  <tr align="center">
                      <td colspan="8" ng-if="fuelMachineData.fuelFills==null" class="err" style="text-align: center;">
                           <h5>Got zero records. Please change the dates and try.</h5>
                      </td>
                  </tr>
              </table> 

            </tab>

            <tab heading="Fuel Theft" active="false">

              
              <table class="table table-bordered table-striped table-condensed table-hover" style="margin-top: 10px;"> 
                <thead>
                  <tr style="text-align:center">
                  <th class="id" custom-sort order="'startTime'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">From Time</th>
                  <th class="id" custom-sort order="'time'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">To Time</th>
                  <th class="id" custom-sort order="'pFuel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Previous Fuel</th>
                  <th class="id" custom-sort order="'cFuel'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Current Fuel</th>  <th class="id" custom-sort order="'lt'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Fuel Theft</th>
                  <th class="id" custom-sort order="'odo'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">Odo</th>          
                  <th style="text-align:center;background-color:#d3e0f1;font-weight:unset;font-size:13px;">G-Map</th>                    
                  </tr>
                  </thead>
                  <tbody ng-repeat="fuel in fuelMachineData.fuelDrops | orderBy:natural(sort.sortingOrder):sort.reverse">
                  <tr>
                    <td>{{fuel.startTime | date:'HH:mm:ss'}}&nbsp;&nbsp;&nbsp;{{fuel.startTime | date:'dd-MM-yyyy'}}</td>
                    <td>{{fuel.time | date:'HH:mm:ss'}}&nbsp;&nbsp;&nbsp;{{fuel.time | date:'dd-MM-yyyy'}}</td>
                    <td>{{fuel.pFuel}}</td>
                    <td>{{fuel.cFuel}}</td>                   
                    <td>{{roundOffDecimal(fuel.lt)}}</td>
                    <td>{{fuel.odo}}</td>         
                    <td><a href="https://www.google.com/maps?q=loc:{{fuel.lat}},{{fuel.lng}}" target="_blank">Link</a></td>                  
                  </tr> 
                </tbody>
                  <tr align="center">
                      <td colspan="8" ng-if="fuelMachineData.fuelDrops==null" class="err" style="text-align: center;">
                           <h5>Got zero records. Please change the dates and try.</h5>
                      </td>
                  </tr>
              </table> 


            </tab>


           </tabset>

           </div>

            </div>

            </div>
           </div>
          
          </div>
        </div>

      </div>
   </div>

    <script src="assets/js/static.js"></script>
<!--<script src="assets/js/jquery-1.11.0.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
<!--<script src="assets/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>   
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
<!--<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>-->
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script>-->
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/fuelMachine.js"></script>
    
    <script>

        $("#example1").dataTable();
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        
        $(function () {
            $('#dateFrom, #dateTo').datetimepicker({
              format:'YYYY-MM-DD',
              useCurrent:true,
              pickTime: false,
              maxDate: new Date,
              minDate: new Date(2015, 12, 1)
            });
               
            $('#timeFrom').datetimepicker({
              pickDate: false,
            });

            $('#timeTo').datetimepicker({
              pickDate: false,
            });
        });      
        
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

 </script>
    
 </body>
</html>
