<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="../resources/views/reports/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<!-- <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/joomla/media/com_demo/highslide.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<!--  <link rel="stylesheet" href="/resources/demos/style.css">  -->
 
  <!-- popup code -->
<style type="text/css">
body {
	font-family: 'Lato', sans-serif;
	/*font-weight: bold;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Faustina', serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Droid Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	*/
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:grey;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
   box-shadow: 4px 4px 80px #000; -->
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

</style>

</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>
<body ng-app="mapApp">
	<div id="wrapper" ng-controller="mainCtrl" class="ng-cloak">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
				<li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
			<ul class="sidebar-subnav" style="max-height: 100vh; overflow-y: auto;" ng-init="vehicleStatus='ALL'">
             
                 <li style="padding-left:25px;">
                	<div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                
                 <li ng-repeat="location in vehicleDetails | orderBy:natural('group')"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId, $index)" ng-cloak >{{trimColon(location.group)}}</a>
                    <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                    	<li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" ng-class="{active:selected==$index}"><a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId,location.group, $index)" ng-cloak>
                   <!-- <img ng-hide="vehiImage" ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/> -->
                    	<img ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car_P.png" width="16" height="16"/>
                        <img ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                    	<span>{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
            	<div class="panel panel-default">
            	</div>   		
        	</div>
       	</div>
		
		<!-- loading menu -->
		<div id="testLoad"></div>

		<div class="col-md-12">
	       	<div class="box box-primary" ng-show="monthly">
				<div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
		            <h3 class="box-title">Monthly Performance Report</h3>
		        </div>

			    <div class="row">
					<div class="col-md-1" align="center"></div>
	    			<div class="col-md-2" align="center">
	                	<div class="form-group">
							<div class="input-group datecomp">
								<input type="text" ng-model="fromdate" class="form-control placholdercolor" id="dateFrom" placeholder="From date">
								<!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
							</div>
	                  	</div>
	                </div>
	                <div class="col-md-1" align="center"></div>
	                 <div class="col-md-2" align="center">
	                    <button ng-click = "submitButton()" style="margin-left: -100%; padding : 5px">Submit</button>
	                </div>
	            </div>
	        </div>

	        <div class="box box-primary" ng-show="daily">
				<div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
		            <h3 class="box-title">Daily Performance Report</h3>
		    	</div>
				<div class="row">
    				<div class="col-md-1" align="center"></div>
    				<div class="col-md-2" align="center"></div>
        			<div class="col-md-2" align="center">
                    	<div class="form-group">
							<div class="input-group datecomp">
								<input type="text" class="form-control placholdercolor" id="datef" ng-model="fromdateDaily" placeholder="date">
								<!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
							</div>
                      	</div>
                    </div>
                <!--  <div class="col-md-2" align="center">
                    	<div class="input-group datecomp">
                            <input type="text" class="form-control placholdercolor" id="timeFrom" ng-model="fromTime"  placeholder="From time">
                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                    <!--	</div> 
                    </div> -->
               <!--     <div class="col-md-2" align="center">
                    	<div class="form-group">
							<div class="input-group datecomp">
								<input type="text" class="form-control placholdercolor" id="datet" ng-model="todateDaily" placeholder="From date">
								<!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
						<!--	</div>
                      	</div>
                    </div>-->
             <!--      <div class="col-md-2" align="center">
                    	<div class="input-group datecomp">
                            <input type="text" class="form-control placholdercolor" id="timeTo" ng-model="totime" placeholder="From time">
                            <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                    <!-- </div> 
                    </div> -->
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-2" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitButton()">Submit</button>
                    </div>
                </div>
            </div>

             <!--Group chart-->
			<div>
				<!-- <div id="container1"></div>
			</div>
		
			<div ng-hide="group"> -->
				<div id="container"></div>
			</div>


			<hr>
		<div class="box-body" ng-class="overallEnable?'col-md-9':'col-md-12'" id="statusreport">

		    <div class="pull-right" style="margin-top: 10px;margin-right: 5px;">
		        <img style="cursor: pointer;" ng-click="exportData(dowloadId)"  src="../resources/views/reports/image/xls.png" />
                <img style="cursor: pointer;" ng-click="exportDataCSV(dowloadId)"  src="../resources/views/reports/image/csv.jpeg" />
            </div>
		
			<h4 style="margin:0" class="page-header">Performance</h4>
			    <div id="{{dowloadId}}">
				<table id="example" class="table table-striped table-bordered">
				<tr style="text-align:center">
				<th width="10%" class="id" custom-sort order="'month'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">{{vehiLabel}} Name / Months</th>
				<th width="5%" class="id" custom-sort order="'data.weightedBreakAnalysis'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Brake Analysis</th>
				<th width="5%" class="id" custom-sort order="'data.weightedSpeedAnalysis'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Speed Analysis</th>
				<th width="5%" class="id" custom-sort order="'data.weightedShockAlarmAnalysis'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Shock Analysis</th>
				<th width="5%" class="id" custom-sort order="'data.weightedAccelAnalysis'" sort="sort" style="text-align:center;background-color:#d3e0f1;font-size:12px;">Acceleration Analysis</th>
				</tr>
					<tbody>
					<tr ng-repeat="user in tableValue | orderBy:sort.sortingOrder:sort.reverse" class="active" style="text-align:center" ng-hide="nullValue(user)">
						<td>{{user.month}}</td>
						<td><a ng-if="user.data.weightedBreakAnalysis != 0" data-target="#myModal1" data-toggle="modal" ng-click="breakWeight(user, 'break')">{{user.data.weightedBreakAnalysis}}</a>
							 <span ng-if="!user.data.weightedBreakAnalysis">0</span>
						</td>
						<td><a ng-if="user.data.weightedSpeedAnalysis != 0" data-target="#myModal" data-toggle="modal" ng-click="toggleSpeed(user, 'speed')">{{user.data.weightedSpeedAnalysis}}</a>
							<span ng-if="!user.data.weightedSpeedAnalysis">0</span>
						</td>
						<td><a ng-if="user.data.weightedShockAlarmAnalysis != 0" data-target="#myModal" data-toggle="modal" ng-click="toggleSpeed(user, 'shock')">{{user.data.weightedShockAlarmAnalysis}}</a>
							 <span ng-if="!user.data.weightedShockAlarmAnalysis">0</span>
						</td>
						<td><a ng-if="user.data.weightedAccelAnalysis != 0" data-target="#myModal1" data-toggle="modal" ng-click="breakWeight(user, 'accleration')">{{user.data.weightedAccelAnalysis}}</a>
							<span ng-if="!user.data.weightedAccelAnalysis">0</span>
						</td>
					</tr>
					</tbody>
					<tr ng-if="tableValue.length==0" align="center">
						<td colspan="5" class="err"><h5>No Data Found! Choose some other date</h5></td>
					</tr>
				</table>
				</div>
				<!-- <button type="button" class="btn btn-info btn-lg" data-target="#myModal" data-toggle="modal">Open Modal</button> -->
				<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">{{titleName}} :{{id}}</h4>
				        </div>
				        <div class="modal-body">
				          <table class="table table-striped table-bordered table-condensed table-hover">
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Speed Analysis</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Status</th>
							<th width="10%" style="text-align:center;">Count</th>
							<th width="10%" style="text-align:center;">Speed</th>
						</tr>
						<tr style="text-align:center" class="active">
							<td>Excellent</td>
							<td>{{excellentCount}}</td>
							<td>{{excellentSpeed}}</td>
						</tr>
						<tr style="text-align:center" class="active">
							<td>Best</td>
							<td>{{bestCount}}</td>
							<td>{{bestSpeed}}</td>
						</tr>
						<tr style="text-align:center" class="active">
							<td>Average</td>
							<td>{{averageCount}}</td>
							<td>{{averageSpeed}}</td>
						</tr>
						<tr style="text-align:center" class="active">
							<td>Aggressive</td>
							<td>{{worstCount}}</td>
							<td>{{worstSpeed}}</td>
						</tr>
						<tr style="text-align:center" class="active">
							<td>RedLiner</td>
							<td>{{redlinerCount}}</td>
							<td>{{redlinerSpeed}}</td>
						</tr>
					</table>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				</div>

				<div class="modal fade" id="myModal1" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">{{titleName}} :{{id}}</h4>
				        </div>
				        <div class="modal-body">
				          <table class="table table-striped table-bordered table-condensed table-hover">
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Normal : {{normal}}</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Place</th>
							<th width="10%" style="text-align:center;">{{high}}</th>
							<th width="10%" style="text-align:center;">{{low}}</th>
							<th width="10%" style="text-align:center;">Time & Date</th>
						</tr>
						<tr ng-repeat="info in Values" style="text-align:center" class="active">
							<td><a href="https://www.google.com/maps?q=loc:{{info.latitude}},{{info.longutide}}" target="_blank">Link</a></td>
							<td>{{info.speed1}}</td>
							<td>{{info.slow}}</td>
							<td>{{info.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						</tr>
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Aggressive : {{aggressiveCount}}</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Place</th>
							<th width="10%" style="text-align:center;">{{high}}</th>
							<th width="10%" style="text-align:center;">{{low}}</th>
							<th width="10%" style="text-align:center;">Time & Date</th>
						</tr>
						<tr ng-repeat="info in aggressive" style="text-align:center" class="active">
							<td><a href="https://www.google.com/maps?q=loc:{{info.latitude}},{{info.longutide}}" target="_blank">Link</a></td>
							<td>{{info.speed1}}</td>
							<td>{{info.slow}}</td>
							<td>{{info.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						</tr>
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Harsh : {{harshCount}}</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Place</th>
							<th width="10%" style="text-align:center;">{{high}}</th>
							<th width="10%" style="text-align:center;">{{low}}</th>
							<th width="10%" style="text-align:center;">Time & Date</th>
						</tr>
						<tr ng-repeat="info in harsh" style="text-align:center" class="active">
							<td><a href="https://www.google.com/maps?q=loc:{{info.latitude}},{{info.longutide}}" target="_blank">Link</a></td>
							<td>{{info.speed1}}</td>
							<td>{{info.slow}}</td>
							<td>{{info.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						</tr>
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Very Harsh : {{veryHarshCount}}</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Place</th>
							<th width="10%" style="text-align:center;">{{high}}</th>
							<th width="10%" style="text-align:center;">{{low}}</th>
							<th width="10%" style="text-align:center;">Time & Date</th>
						</tr>
						<tr ng-repeat="info in veryharsh" style="text-align:center" class="active">
							<td><a href="https://www.google.com/maps?q=loc:{{info.latitude}},{{info.longutide}}" target="_blank">Link</a></td>
							<td>{{info.speed1}}</td>
							<td>{{info.slow}}</td>
							<td>{{info.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						</tr>
						<tr style="text-align:center">
							<th style="text-align:center;" colspan="4">Worst : {{worstCount}}</th>
						</tr>
						<tr style="text-align:center">
							<th width="10%" style="text-align:center;">Place</th>
							<th width="10%" style="text-align:center;">{{high}}</th>
							<th width="10%" style="text-align:center;">{{low}}</th>
							<th width="10%" style="text-align:center;">Time & Date</th>
						</tr>
						<tr ng-repeat="info in worst" style="text-align:center" class="active">
							<td><a href="https://www.google.com/maps?q=loc:{{info.latitude}},{{info.longutide}}" target="_blank">Link</a></td>
							<td>{{info.speed1}}</td>
							<td>{{info.slow}}</td>
							<td>{{info.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
						</tr>
					</table>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				</div>
			</div>
		</div>

		</div>
	</div>
		
	<script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
	<script src="assets/js/ui-bootstrap-tpls-0.13.3.js"></script>
	<script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
	<script src="assets/js/angular-ui-bootstrap-modal.js"></script>
	<script src="../resources/views/reports/customjs/FileSaver.js"></script>
	<script src="../resources/views/reports/customjs/html5csv.js"></script>
	<script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
	<script src="assets/js/infobubble.js" type="text/javascript"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
    <!-- <script src="assets/js/naturalSortVersionDates.js"></script>-->
   	<script src="assets/js/static.js"></script>
   	<script src="assets/js/vamoApp.js"></script>
	<script src="assets/js/highcharts-bar.js"></script>
	<script src="assets/js/services.js"></script>
    <script src="assets/js/performance.js"></script>
	<script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
	</script>
	<script>
		$("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });

	    function getTodayDate(date) {
         	var date = new Date(date);
    	 return date.getFullYear()+'/'+("0" + (date.getMonth() + 1)).slice(-2)+'/'+("0" + (date.getDate())).slice(-2);
         }
	    
	    $(function () {

	        $('#dateFrom').datetimepicker({
				pickTime: false,
				format: "MMM,YYYY",
				viewMode: "months", 
				minViewMode: "months"
			});

			var dateObj 	 = 	new Date();
		    var fromNowTSS	 =	new Date(dateObj.setDate(dateObj.getDate()-1));
		  //console.log(getTodayDate(fromNowTSS));
		    var fromNowTimes =  getTodayDate(fromNowTSS);

	        $('#datef').datetimepicker({
				format:'YYYY-MM-DD',
				useCurrent:true,
				pickTime: false,
				defaultDate: fromNowTimes,
			});

		/*	$('#timeFrom').datetimepicker({
				pickDate: false
			});
			$('#timeTo').datetimepicker({
				useCurrent:true,
				pickDate: false
			}); */
	    });      
 	</script>
	
</body>
</html>

