<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>GPS</title>

<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style>

  body{
     font-family: 'Lato', sans-serif;
   /*font-weight: bold;*/  
   /*font-family: 'Lato', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Raleway', sans-serif;
     font-family: 'Faustina', serif;
     font-family: 'PT Sans', sans-serif;
     font-family: 'Ubuntu', sans-serif;
     font-family: 'Droid Sans', sans-serif;
     font-family: 'Source Sans Pro', sans-serif;*/
  }

.empty{
    height: 1px; width: 1px; padding-right: 30px; float: left;
}
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}
</style>
</head>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>

<body ng-app="mapApp">
    <div id="wrapper" ng-controller="mainCtrl" class="ng-cloak">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports" ><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in vehicle_list track by $index | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                    <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                    <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | filter:searchbox" ng-class="{active:vehiname ==loc.vehicleId}"><a href="javascript:void(0);" ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)" ng-cloak>
                    <img ng-if="trvShow=='true'" ng-src="assets/imgs/trvSideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                    <img ng-if="trvShow!='true'" ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" 
              width="16" height="16"/>
                    <img ng-if="trvShow!='true'" ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                    <span>{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
        <div id="testLoad"></div>
        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                 
                </div>   
            </div>
        </div>
 
    <!-- AdminLTE css box-->

    <div class="col-md-12">
       <div class="box box-primary">
        <!-- <div class="row"> -->
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                    <h3 class="box-title">Radio-frequency Identification Report</h3>
                </div>
                <div class="row">
                    <div class="col-md-1" align="center"></div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromdate" class="form-control placholdercolor" id="dateFrom"  placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.fromtime" class="form-control placholdercolor" id="timeFrom" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.todate" class="form-control placholdercolor" id="dateTo" placeholder="From date">
                                <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" align="center">
                        <div class="form-group">
                            <div class="input-group datecomp">
                                <input type="text" ng-model="uiDate.totime" class="form-control placholdercolor" id="timeTo" placeholder="From time">
                                <!-- <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-1" align="center">
                        <div class="form-group">
                            
                                <select class="input-sm form-control" ng-model="interval">
                                     <option value="">Interval</option>
                                     <option label="1 mins">1</option>
                                     <option label="2 mins">2</option>
                                     <option label="5 mins">5</option>
                                     <option label="10 mins">10</option>
                                     <option label="15 mins">15</option>
                                     <option label="30 mins">30</option>
                                </select>
                           
                        </div>
                    </div> -->
                    <div class="col-md-1" align="center"></div>
                     <div class="col-md-1" align="center">
                        <button style="margin-left: -100%; padding : 5px" ng-click="submitFunction()">Submit</button>
                    </div>
                </div>

              <!--  </div> -->
            </div>
            
          
        </div>

        <div class="col-md-12">
            <div class="box box-primary">
                <div>
                    <div class="pull-right">
                        <img style="cursor: pointer;" ng-click="exportData('rfidreport')"  src="../resources/views/reports/image/xls.png" />
                        <img style="cursor: pointer;" ng-click="exportDataCSV('rfidreport')"  src="../resources/views/reports/image/csv.jpeg" />


                        <!-- <img style="cursor: pointer;" onClick ="$('#tableID').tableExport({type:'pdf',escape:'false'});"  src="assets/imgs/red.png" /> -->
                    
                    </div>
                    <div class="box-body" id="rfidreport">
                <div class="empty" align="center"></div> <p style="margin:0;font-size:18px;" >RFId Tag Report <span style="float: right;font-size:15px;padding-right: 30px;"><b>From</b> : &nbsp;{{uiDate.fromdate}} &nbsp;{{convert_to_24hrs(uiDate.fromtime)}} &nbsp;&nbsp; - &nbsp;&nbsp; <b>To</b> :&nbsp; {{uiDate.todate}} &nbsp;{{convert_to_24hrs(uiDate.totime)}}</span></p> 
                            
                            <div class="row">
                               <div class="col-md-1" align="center"></div>

                               <div class="col-md-2" align="center">
                                 <div class="form-group">

                                 </div>
                               </div>
                            </div>   

                                <table class="table table-bordered table-striped table-condensed table-hover">
                                    <thead>
                                        <tr style="text-align:center; font-weight: bold; ">
                                            <td style="background-color:#ecf7fb;">Vehicle Name</td>
                                            <td style="background-color:#f9f9f9;">{{shortNam}}</td> 
                                            <td style="background-color:#ecf7fb;">Vehicle Group</td>
                                            <td style="background-color:#f9f9f9;">{{uiGroup}}</td>
                                       </tr>

                                        <tr><td colspan="4"></td></tr>
                                        <tr style="text-align:center;font-weight: bold;">
                                            <th class="id" custom-sort order="'fromTime'" sort="sort" style="text-align:center;background-color:#d2dff7;" width="25%">FromDate</th>
                                            <th class="id" custom-sort order="'toTime'" sort="sort" style="text-align:center;background-color:#d2dff7;" width="25%">ToDate</th>
                                            <!-- <th class="id" custom-sort order="'cumDistance'" sort="sort" style="text-align:center;" width="15%">cumulative</th> -->
                                          <!--   <th class="id" custom-sort order="'odoDistance'" sort="sort" style="text-align:center;" width="15%">Odo Meter</th> -->
                                            <th class="id" custom-sort order="'address'" sort="sort" style="text-align: center;background-color:#d2dff7;" width="40%">Nearest Location</th>
                                            <th class="id" style="text-align: center;background-color:#d2dff7;" width="10%">G-Map</th>
                                        </tr>
                                </thead>
                                 <tbody ng-repeat="rfidReport in siteData.gd | orderBy:sort.sortingOrder:sort.reverse">
                                    <tr class="active" style="text-align:center">
                                        <td>{{rfidReport.fromTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{rfidReport.toTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <!-- <td>{{rfidReport.distanse}}</td>
                                        <td>{{rfidReport.cumDistance}}</td>
                                        <td>{{rfidReport.odoDistance}}</td> -->
                                        <td>{{rfidReport.address}} 
                                            <!-- <p ng-if="ignitionignitionignition.address!=null">{{ignition.address}}</p>
                                            <p ng-if="ignitionignition.address==null && addressFuel[$index]!=null">{{addressFuel[$index]}}</p>
                                            <p ng-if="ignition.address==null && addressFuel[$index]==null"><img src="assets/imgs/loader.gif" align="middle"></p> -->
                                        </td>
                                        <!-- <td>{{rfidReport.tagDet}}</td>  -->
                                        <td><a href="https://www.google.com/maps?q=loc:{{rfidReport.lat}},{{rfidReport.lng}}" target="_blank">Link</a></td>
                                    </tr>
                                    <tr ng-repeat="rfidtage in rfidReport.tagDet track by $index">
                                    <td colspan="2" style="text-align: center;">{{rfidSplit(rfidtage, 'one')}}</td>
                                    <td colspan="2" style="text-align: center;">{{rfidSplit(rfidtage, 'two')}}</td>
                                       <!--  <td>{{rfidtage.tagId}}</td>
                                        <td>{{rfidtage.tagName}}</td> -->
                                    </tr>
                                    
                                </tbody>
                                <tr ng-if="siteData.gd == null || siteData.vehicleId == null"  align="center">
                                    <td colspan="4" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    <script src="assets/js/static.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script> -->
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/siteReport.js"></script>
    <script>

        // $("#example1").dataTable();
        // $("#menu-toggle").click(function(e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });
        
        $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false
                });
                $('#timeFrom').datetimepicker({
                    pickDate: false,
                    
                });
                $('#timeTo').datetimepicker({
                    pickDate: false,
                    
                });
        });      
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


  </script>
    
</body>
</html>


