<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway:500|Roboto|Source+Sans+Pro|Ubuntu" rel="stylesheet">
<link href="../resources/views/reports/AdminLTE/AdminLTE.css" rel="stylesheet">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="../resources/views/reports/datepicker/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<!-- <link href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css"> -->
<link href="../resources/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">
<link href="../resources/views/reports/c3chart/c3.css" rel="stylesheet" type="text/css">
</head>
<style>
   /* .box > .loading-img {
      z-index: 1020;
      background: transparent url('assets/imgs/status.gif') 50% 50% no-repeat;
    }*/
 text.highcharts-credits {
    display: none;
 }
.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
background-color: #ffffff;
}

body{
font-family: 'Lato', sans-serif;
/*font-weight: bold;*/  
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Faustina', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Droid Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
}
</style>
<div id="preloader" >
    <div id="status">&nbsp;</div>
</div>
<div id="preloader02" >
    <div id="status02">&nbsp;</div>
</div>
<body ng-app="mapApp" style="overflow-x:auto;">
    <div id="wrapper" ng-controller="mainCtrl" class="ng-cloak"> 
        <div id="sidebar-wrapper" style="width: 180px;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
                <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li>
                <li class="stastics"><a href="../public/statistics" class="active"><div></div><label>Statistics</label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li>
                <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
            <ul class="sidebar-subnav" ng-init="vehicleStatus='ALL'">
                <li style="padding-left:25px;">
                    <div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in vehicleList | orderBy:natural('group')" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{trimColon(location.group)}}</a>
                <ul class="nav nav-second-level" style="max-height: 400px; overflow-y: auto;">
                <li ng-repeat="loc in location.vehicleLocations| orderBy:natural('shortName') | filter:searchbox"><a href="" ng-class="{active: $index == selected, red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)">
                
                <img ng-if="trvShow=='true'" ng-src="assets/imgs/trvSideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                <img ng-if="trvShow!='true'" ng-hide="vehiImage" ng-src="assets/imgs/sideMarker/{{loc.vehicleType}}_{{loc.color}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                <img ng-if="trvShow!='true'" ng-show="vehiImage" ng-src="assets/imgs/assetImage.png" fall-back-src="assets/imgs/assetImage.png" width="16" height="16"/>
                
                    <span>{{loc.shortName}}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="panel panel-default">
                </div>          
            </div>
        </div>
        <div id="testLoad"></div>

        <div ng-show="reportBanShow" class="modal fade" id="allReport" role="dialog" style="top: 100px">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-body">
                            <p class="err" style="text-align: center;"> You are not a premium user !... </p>
                        </div>
                </div>
            </div>
        </div> 

        <div ng-show="reportBanShow" class="col-md-10" >
            <div class="box box-primary" style="height:90px; padding-top:30px; margin-top:5%; margin-left:8%;">
                <p ><h5 class="err" style="text-align: center;"> No Reports Found! </h5></p>
            </div>
        </div>

        
       <div ng-hide="reportBanShow" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header" data-toggle="tooltip" title="" data-original-title="Header tooltip">
                    <h3 class="box-title">Executive Summary Report</h3>
                    <div class="box-tools pull-right">
                        <img style="cursor: pointer;" ng-click="exportData(downloadid)"  src="../resources/views/reports/image/xls.png" />
                        <img width=30 height=30 style="cursor: pointer;" ng-click="exportDataCSV(downloadid)"  src="../resources/views/reports/image/csv.jpeg" />
                    </div>
                </div>
                <div class="row" ng-show="showDate" style="margin-top: 20px;">
                            <div class="col-md-2" align="center"></div>
                                <div class="col-md-2" align="center">
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" ng-model="fromdate" class="form-control placholdercolor" id="dateFrom" placeholder="From date">
                                        </div>
                                    </div>
                                </div>
                                
                                <div  class="col-md-2" align="center" >
                                    <div class="form-group">
                                        <div class="input-group datecomp">
                                            <input type="text" min-date="fromdate" ng-model="todate" class="form-control placholdercolor" id="dateTo" placeholder="To date">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2" align="center">
                                    <button ng-click="plotHist()">Submit</button>
                                </div>
                               <div class="col-md-1" align="center"></div>
                 </div>

                        <div class="row" ng-show="showMonth" style="margin-top: 20px;">
                           <div class="col-md-2" align="center"></div>
                               
                             <!--   <div  class="col-md-2" align="center">-->
                             <div class="col-md-2 form-group" style="right:0px;">Choose Month and Year:</div>

                        <!-- <div class="form-group" style="left: 0px;">
                                 <select ng-model="monsVal" ng-change="monthssVal(monsVal)" style="background-color:#f9f9f9;padding:3px 3px 3px 3px;min-width:150px;max-width:150px;height:25px;">
                                        <option ng-repeat="val in monthsVal" value="{{val}}">{{val}}</option>
                                      </select> 
                             </div> -->

                             <div class="input-group datecomp" style="padding-bottom: 20px;">
                                <input type="text" ng-model="fromMonthss" ng-change="submitMon()" class="form-control placholdercolor" id="monthFrom" placeholder="Month">
                             </div>
                        </div>

                        <div class="row" ng-show="showMonthFuel" style="margin-top: 20px;">
                              <div class="col-md-2" align="center"></div>
                              <div class="col-md-2 form-group" style="right:0px;padding-top: 7px;">Choose Month and Year :</div>
                                    <div class="input-group datecomp" style="padding-bottom: 20px;">
                                            <input type="text" ng-model="fromMonthFuel" ng-change="submitMonFuel()" class="form-control placholdercolor" id="monthFroms" placeholder="Month">
                                    </div>
                        </div>
                </div>

                <hr>
                        <div class="col-md-12" ng-hide="donut">
                           <div id="container" style="min-width:800px; max-width:800px; height: 350px;"></div>
                        </div>

                        <div class="col-md-12" ng-show="donut_new">
                           <div id="container_new" style="min-width:800px; max-width:800px; height: 350px;"></div>
                        </div>
               
                    <div id="singleDiv" class="row">     
                        <div class="col-md-5">
                            <div style="min-width:400px; max-width:300px; height: 350px;" id="chart3" ></div>
                        </div>
                        <div class="col-md-5">
                            <div style="min-width:400px; max-width:300px; height: 350px;" id="chart4"></div>     
                        </div>
                    </div>
                    
                <div class="box-body" ng-class="overallEnable?'col-md-9':'col-md-12'" id="statusreport">
                    
                     <tabset class="nav-tabs-custom">

                         <tab ng-show="dailyTabShow" select="alertMe('executive')" heading="Daily"  active="tabActive">
                         <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="Search" ng-model="searchboxExe" name="search" />
                            </div>
                             <h4 style="margin:0" class="page-header">Daily</h4>
                             <div id='executive'>
                              <table class="table table-bordered table-condensed table-hover table-striped">
                                    <tr ng-hide="true" style="font-weight: bold;">
                                        <td>{{vehiLabel}} Group : {{data1.group}}</td>                      
                                        <td style="text-align: right;">Report Date : {{fromdate}} - {{todate}}</td>             
                                    </tr>
                                   
                                    <tr style="text-align:center; font-weight: bold;">
                                        <td width="6%" class="id" custom-sort order="'shortName'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Name</td>
                                        <td width="6%" class="id" custom-sort order="'vehicleId'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Id</td>
                                        <td width="9%" class="id" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#d2dff7;">Date</td>
                                        <td width="7%" class="id" custom-sort order="'distanceToday'" sort="sort" style="text-align:center;background-color:#d2dff7;">Kms</td>
                                        <td width="7%" class="id" custom-sort order="'parkingCount'" sort="sort" style="text-align:center;background-color:#d2dff7;">Park Count</td>
                                        <td ng-if="vehiAssetView" width="7%" class="id" custom-sort order="'overSpeedInstances'" sort="sort" style="text-align:center;background-color:#d2dff7;">Over Speed Count</td>
                                        <td ng-if="vehiAssetView" width="7%" class="id" custom-sort order="'odoOpeningReading'" sort="sort" style="text-align:center;background-color:#d2dff7;">Odo Start</td>
                                        <td ng-if="vehiAssetView" width="7%" class="id" custom-sort order="'odoClosingReading'" sort="sort" style="text-align:center;background-color:#d2dff7;">Odo End</td>
                                        <td width="7%" class="id" custom-sort order="'totalRunningTime'" sort="sort" style="text-align:center;background-color:#d2dff7;">Moving (h:m:s)</td>
                                        <td width="7%" class="id" custom-sort order="'totalParkedTime'" sort="sort" style="text-align:center;background-color:#d2dff7;">Parked (h:m:s)</td>
                                        <td width="6%" class="id" custom-sort order="'totalNoDataTime'" sort="sort" style="text-align:center;background-color:#d2dff7;">No Data (h:m:s)</td>
                                        <td width="6%" class="id" custom-sort order="'totalIdleTime'" sort="sort" style="text-align:center;background-color:#d2dff7;">Idle (h:m:s)</td>
                                        <td ng-hide="true" width="18%" style="text-align:center;background-color:#d2dff7;">Start Loc</td>
                                        <td ng-hide="true" width="18%" style="text-align:center;background-color:#d2dff7;">End Loc</td>
                                    </tr>

                                    <tr ng-repeat="user in execGroupReportData | orderBy:natural(sort.sortingOrder):sort.reverse | filter:searchboxExe" class="active" style="text-align:center; font-size: 12px">
                                        <td>{{user.shortName}}</td>
                                        <td>{{user.vehicleId}}</td>
                                        <td>{{user.date}}</td>
                                        <td>{{user.distanceToday}}</td>
                                        <td>{{user.parkingCount}}</td>
                                        <td ng-if="vehiAssetView">{{user.overSpeedInstances}}</td>
                                        <td ng-if="vehiAssetView">{{user.odoOpeningReading}}</td>
                                        <td ng-if="vehiAssetView">{{user.odoClosingReading}}</td>
                                        <td>{{msToTime(user.totalRunningTime)}}</td>
                                        <td>{{msToTime(user.totalParkedTime)}}</td>
                                        <td>{{msToTime(user.totalNoDataTime)}}</td>
                                        <td>{{msToTime(user.totalIdleTime)}}</td>
                                        <td ng-hide="true" ng-if="user.startLocation!==null">{{user.startLocation}}</td>
                                        <td ng-hide="true" ng-if="user.startLocation===null"></td>
                                        <td ng-hide="true" ng-if="user.endLocation!==null">{{user.endLocation}}</td>
                                        <td ng-hide="true" ng-if="user.endLocation===null"></td>
                                       </tr>

                                     <tr ng-if="execGroupReportData=='' || execGroupReportData==null || execGroupReportData.length==0" align="center">
                                        <td colspan="12" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                     </tr>

                                </table>
                            </div>
                        </tab>
                        <tab ng-show="poiTabShow" select="alertMe('poi')" heading="POI" active="actTab"> 
                            <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="{{vehiLabel}} Name or POI" ng-model="searchbox" name="search" />
                            </div>
                       <!-- <div class="box-tools pull-right">
                               <div class="right-inner-addon" align="center"><i class="fa fa-search"></i><input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" /></div>
                            </div> -->
                            <h4 style="margin:0" class="page-header">Place of Interest</h4>

                            <div id='poi'>
                            <table class="table table-bordered table-striped table-condensed table-hover table-striped">
                                <thead>
                                    <tr style="text-align:center" >
                                        <th class="id" custom-sort order="'shortName'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Name </th>
                                        <th class="id" custom-sort order="'vehicleId'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Id </th>
                                        <th class="id" custom-sort order="'time'" sort="sort" style="text-align:center;background-color:#d2dff7;">Date</th>
                                        <th class="id" custom-sort order="'time'" sort="sort" style="text-align:center;background-color:#d2dff7;">Time</th>
                                        <th class="id" custom-sort order="'place'" sort="sort" style="text-align:center;background-color:#d2dff7;">Place</th>
                                        <th class="id" sort="sort" style="text-align:center;background-color:#d2dff7;">G-Map</th>
                                    </tr></thead>
                                    <tr ng-repeat="user in geofencedata | orderBy:sort.sortingOrder:sort.reverse | filter:searchbox" class="active" style="text-align:center">
                                        <td>{{user.shortName}}</td>
                                        <td>{{user.vehicleId}}</td>
                                        <td>{{user.time | date:'yyyy-MM-dd'}}</td>
                                        <td>{{user.time | date:'HH:mm:ss'}}</td>
                                        <td>{{user.place}}</td>
                                        <td><a href="https://www.google.com/maps?q=loc:{{user.latandlng}}" target="_blank">Link</a></td>
                                    </tr>
                                    
                                    <tr ng-if="geofencedata==null || geofencedata== '' || geofencedata.length==0" align="center">
                                        <td colspan="6" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                    </tr>           
                            </table>
                          
                            </div>
                         </tab>

                         <tab ng-show="consolTabShow" select="alertMe('consolidated')" heading="Consolidated" active="actCons"> 
                            <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="Search" ng-model="searchboxExe" name="search" />
                            </div>
                             <h4 style="margin:0" class="page-header">Consolidated</h4>
                             <div id='consolidated'>
                              <table class="table table-bordered table-condensed table-hover table-striped">
                                    <tr ng-hide="true" style="font-weight: bold;">
                                        <td>{{vehiLabel}} Group : {{data1.group}}</td>                      
                                        <td style="text-align: right;">Report Date : {{fromdate}} - {{todate}}</td>             
                                    </tr>
                                   
                                    <tr style="text-align:center; font-weight: bold;">
                                        <td style="text-align:center;background-color:#d2dff7;">Start Date</td>
                                        <td style="text-align:center;background-color:#d2dff7;">End Date</td>
                                        <td custom-sort order="'user[0]'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Name</td>
                                        <td custom-sort order="'user[2]'" sort="sort" style="text-align:center;background-color:#d2dff7;">{{vehiLabel}} Id</td>
                                        <td custom-sort order="'user[1]'" sort="sort" style="text-align:center;background-color:#d2dff7;">Distance (Kms)</td>
                                        <!-- <td width="15%" class="id" custom-sort order="'distanceToday'" sort="sort" style="text-align:center;">Distance (Kms)</td>
                                        <td width="55%" class="id" custom-sort order="'address'" sort="sort" style="text-align:center;">Distance (Kms)</td> -->
                                        <!-- <td width="7%" class="id" custom-sort order="'parkingCount'" sort="sort" style="text-align:center;">ParkCount</td>
                                        <td width="7%" class="id" custom-sort order="'overSpeedInstances'" sort="sort" style="text-align:center;">OverSpeed Count</td>
                                        <td width="7%" class="id" custom-sort order="'odoOpeningReading'" sort="sort" style="text-align:center;">Odo Start</td>
                                        <td width="7%" class="id" custom-sort order="'odoClosingReading'" sort="sort" style="text-align:center;">Odo End</td>
                                        <td width="7%" class="id" custom-sort order="'totalRunningTime'" sort="sort" style="text-align:center;">Moving (h:m:s)</td>
                                        <td width="7%" class="id" custom-sort order="'totalIdleTime'" sort="sort" style="text-align:center;">Idle (h:m:s)</td> -->
                                    </tr>
                                    <tr ng-repeat="user in barArray | orderBy:sort.sortingOrder:sort.reverse | filter:searchboxExe" ng-if ="user.distanceMonth !=0" style="text-align:center; font-size: 12px">
                                        <td>{{fromdate}}</td>
                                        <td>{{todate}}</td>
                                        <td>{{user[0]}}</td>
                                        <td>{{user[2]}}</td>
                                        <td>{{user[1]}}</td>
                                        <!-- <td>{{user.distanceMonth}}</td>
                                        <td>{{user.address}}</td> -->
                                        <!-- <td>{{user.parkingCount}}</td>
                                        <td>{{user.overSpeedInstances}}</td>
                                        <td>{{user.odoOpeningReading}}</td>
                                        <td>{{user.odoClosingReading}}</td>
                                        <td>{{msToTime(user.totalRunningTime)}}</td>
                                        <td>{{msToTime(user.totalIdleTime)}}</td> -->
                                       </tr>
                                     <tr ng-if="execGroupReportData=='' || execGroupReportData==null || execGroupReportData.length==0" align="center">
                                        <td colspan="10" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                     </tr>
                                </table>
                            </div>
                         </tab>

                          <tab ng-show="exFuelTabShow" select="alertMe('fuel')" heading="Exec Fuel" active="actFuel"> 

                            <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="Enter {{vehiLabel}} Name" align="center" ng-model="searchbox" name="search" />
                            </div>

                            <h4 style="margin:0" class="page-header">Executive Fuel Report</h4>

                            <div id='execFuel'>
                            <table class="table table-bordered table-striped table-condensed table-hover table-striped">
                                <thead>
                                    <tr style="text-align:center" >
                                    <th class="id" custom-sort order="'date'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Date</th>
                                    <th class="id" custom-sort order="'vehicleName'" sort="sort" style="text-align:center;background-color:#C2D2F2;">{{vehiLabel}} Name</th>
                                    <th class="id" custom-sort order="'vehicleId'" sort="sort" style="text-align:center;background-color:#C2D2F2;">{{vehiLabel}} Id</th>
                                    <th class="id" custom-sort order="'startFuelLevel'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Start Fuel</th>
                                    <th class="id" custom-sort order="'endFuelLevel'" sort="sort" style="text-align:center;background-color:#C2D2F2;">End Fuel</th>
                                    <th class="id" custom-sort order="'fuelFills'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Fuel Fill</th>
                                    <th class="id" custom-sort order="'fuelConsume'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Fuel Consume</th>
                                    <th class="id" custom-sort order="'distanceToday'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Dist.Covered</th>
                                <!--<th class="id" custom-sort order="'mileage'" sort="sort" style="text-align:center;background-color:#C2D2F2;">Mileage</th>-->
                                    </tr>
                                </thead>
                        
                        <tr ng-repeat="data in execFuelData | orderBy:natural(sort.sortingOrder):sort.reverse | filter:searchbox" class="active" style="text-align:center" >
                                      
                                        <td>{{data.date | date:'yyyy-MM-dd'}}</td>
                                        <td>{{data.vehicleName}}</td> 
                                        <td>{{data.vehicleId}}</td>                               
                                        <td>{{data.startFuelLevel}}</td>
                                        <td>{{data.endFuelLevel}}</td>
                                        <td>{{data.fuelFills}}</td>
                                        <td>{{parseInts(data.fuelConsume)}}</td>
                                        <td>{{data.distanceToday}}</td>
                                    <!--<td>{{data.milage}}</td>-->
                                    </tr>
                                    
                                   <tr ng-if="execFuelData=='' || execFuelData==null || execFuelData.length==0" align="center">
                                        <td colspan="10" class="err"><h5>No Data Found! Choose some other date</h5></td>
                                     </tr>          
                            </table>
                          
                            </div>
                         </tab>

                          <tab ng-show="distMonTabShow" select="alertMe('distMonth')" heading="Monthly Dist" active="actMonth"> 

                       <!-- <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="Enter VehicleId" align="center" ng-model="searchbox" name="search" />
                            </div>-->

                            <h4 style="margin:0" class="page-header">{{vehiLabel}} Distance Coverage - Monthly Report</h4>

                            <!-- overflow-x:auto -->

                            <div id='month'  style="overflow-y:auto;">
                            <table class="table table-bordered table-striped table-condensed table-hover table-striped" ng-show="showMonTable" >

                            <thead>
                            </thead>
                            <tbody >
                                <tr style="height:35px;text-align: center;">
                                  <td colspan="33" style="font-size:14px;font-weight: bold;background-color:#C2D2F2;">{{monValFrontss+curYearFrontss}}</td>
                                </tr>
                                <tr>
                                    <td style="background-color:#f9f9f9;font-size: 12px;">{{vehiLabel}} Name</td>
                                    <td ng-repeat="dat in monthDates" style="background-color:#ecf7fb;font-weight: bold;">{{dat}}</td>
                                    <td style="background-color:#ecf7fb;font-weight: bold;">Total(Kms)</td>
                                </tr>
                                <tr ng-repeat="vehi in distMonData">

                                   <td ng-if="$odd" style="background-color:#f9f9f9;font-weight: bold;" >{{vehi.vehiName}}</td>
                                   <td ng-if="$even" style="background-color:#ecf7fb;font-weight:bold;" >{{vehi.vehiName}}</td>

                                   <td ng-repeat="val in vehi.distsTodays">{{val.distanceToday}}</td>
                                   <td>{{parseInts(vehi.totDist)}}</td>
                                </tr>
                               <tr ng-if="monthData.comulativeDistance!=null">
                                  <td style="background-color:#ecf7fb;font-weight: bold;">Total(Kms)</td>
                                  <td ng-repeat="val in totDistVehic track by $index">{{parseInts(val)}}</td>
                                  <td style="background-color:#f9f9f9;"></td>
                                </tr>
                            
                            </tbody>            
                            </table>
                          
                            </div>
                         </tab>

                         <tab ng-show="distMonFuelTabShow"  select="alertMe('distMonthFuel')" heading="Dist and Fuel" active="actMonthFuel"> 

                         <!-- <div class="form-group pull-right">
                                <input type="search" class="form-control input-sm" placeholder="Enter VehicleId" align="center" ng-model="searchbox" name="search" />
                              </div>-->
                         <!-- overflow-x:auto -->

                            <div id='monthFuel' style="overflow-y:auto;">

                             <h4  style="margin:0" class="page-header">{{vehiLabel}} Distance and Fuel - Monthly Report</h4>

                            <table class="table table-bordered table-striped table-condensed table-hover table-striped" ng-show="showMonFuelTable" >

                                <thead>
                                     <tr style="height:35px;text-align: center;">
                                       <td colspan="36" style="font-size:14px;font-weight: bold;background-color:#C2D2F2;">{{monValFront+curYearFront}}</td>
                                     </tr>

                                     <tr>
                                         <td> {{vehiLabel}} Name </td>
                                         <td> Day </td>
                                         <td ng-repeat="dat in monthFuelDates" style="background-color:#ecf7fb;font-weight: bold;">{{dat}}</td>
                                         <td> Total (Kms/Ltrs) </td>
                                         <td> Odo Start </td>
                                         <td> Odo End </td>
                                     </tr>
                                </thead>

                                <tbody ng-repeat="values in distMonFuelData track by $index">

                                     <tr>
                                         <td  ng-if="$odd" rowspan="2" style="background-color:#f9f9f9;font-weight: bold;padding-top: 15px;">{{values.vehiName}}</td>
                                         <td  ng-if="$even" rowspan="2" style="background-color:#ecf7fb;font-weight: bold;padding-top: 15px;">{{values.vehiName}}</td>
                                         <td>Dist</td>
                                         <td ng-repeat="val in values.distsTodays track by $index" style="color:#557fa8;">{{val.distanceToday}}</td>
                                         <td style="color:#557fa8;font-weight: bold; ">{{values.totDist}}</td>
                                         <td ng-if="$odd" rowspan="2" style="background-color:#f9f9f9;padding-top: 15px;">{{values.odoStart}}</td>
                                         <td ng-if="$even" rowspan="2" style="background-color:#ecf7fb;padding-top: 15px;">{{values.odoStart}}</td>
                                         <td ng-if="$odd" rowspan="2" style="background-color:#ecf7fb;padding-top: 15px;">{{values.odoEnd}}</td>
                                         <td ng-if="$even" rowspan="2" style="background-color:#f9f9f9;padding-top: 15px;">{{values.odoEnd}}</td>
                                     </tr>

                                     <tr>
                                         <td>Fuel</td>
                                         <td ng-repeat="val in values.fuelTodays track by $index" style="color:#e18e32;">{{val.fuelsToday}}</td>
                                         <td style="color:#e18e32;font-weight: bold;">{{values.totFuel}}</td>
                                     </tr>

                                </tbody> 

                                <tr ng-if="monthFuelData.cumulativeVehicleDistanceData!=null">
                                    <td rowspan="2" style="background-color:#ecf7fb;padding-top: 15px;">Total (Kms/Ltrs)</td>
                                    <td>Dist</td>
                                    <td ng-repeat="val in totMonDistVehic track by $index" style="color:#557fa8;font-weight: bold;">{{val}}</td>
                                </tr>
                                <tr ng-if="monthFuelData.cumulativeVehicleFuelData!=null">  
                                    <td>Fuel</td>
                                    <td ng-repeat="val in totMonFuelVehic track by $index" style="color:#e18e32;font-weight: bold;">{{val}}</td>
                                </tr>
                                <tr ng-if="monthFuelData.error != '' " align="center">
                                    <td colspan="36" class="err"><h5>Please choose current month (or) before</h5></td>
                                </tr> 
                                 
                            </table>
                         </div>
                       </tab>
                     </tabset>
                </div>
            </div>  
        </div>
    </div>
    <script src="assets/js/static.js"></script>   
  <script src="assets/js/jquery-1.11.0.js"></script>
  <!--  <script src="assets/js/jquery-3.1.1.min.js"></script> -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script> 
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
    <script src="../resources/views/reports/customjs/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="assets/js/highcharts_new.js"></script>
    <script src="assets/js/highcharts_exporting.js"></script>
    <script src="assets/js/highcharts_statistics.js"></script>
    <script src="../resources/views/reports/customjs/FileSaver.js"></script>
    <script src="../resources/views/reports/customjs/moment.js"></script>
    <script src="../resources/views/reports/datepicker/bootstrap-datetimepicker.js"></script>
    <script src="../resources/views/reports/datatable/jquery.dataTables.js"></script>
    <script src="../resources/views/reports/customjs/html5csv.js"></script>
    <script src="../resources/views/reports/c3chart/d3.js"></script>
    <script src="../resources/views/reports/c3chart/c3.min.js"></script>
    <script src="assets/js/naturalSortVersionDatesCaching.js"></script>
<!--<script src="assets/js/naturalSortVersionDates.js"></script> -->
    <script src="assets/js/vamoApp.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="../resources/views/reports/customjs/statistics.js"></script>
    <script>
    // $("#testLoad").load("../public/menu");
    // var logo =document.location.host;
    // var imgName= '/vamo/public/assets/imgs/'+logo+'.small.png';
    // $('#imagesrc').attr('src', imgName);
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    $(function () {
                $('#dateFrom, #dateTo').datetimepicker({
                    format:'YYYY-MM-DD',
                    useCurrent:true,
                    pickTime: false,
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });
                $('#timeFrom').datetimepicker({
                    pickDate: false
                });
                $('#timeTo').datetimepicker({
                    useCurrent:true,
                    pickDate: false
                });
                
                $('#monthFrom, #monthFroms').datetimepicker({
                    minViewMode: 'months',
                    viewMode: 'months',
                    pickTime: false,
                    useCurrent:true,
                    format:'MM/YYYY',
                    maxDate: new Date,
                    minDate: new Date(2015, 12, 1)
                });
        });      
    
 </script>
   
</body>
</html>

