/*
.menu-hover .menu-hover {
display: none;
background: #4b545f;
}
.menu-hover .list:hover > .menu-hover {
list-style-type: none;
display: block;
}
.list{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.menu-hover {
background: #196481;
list-style: none;
padding: 0px;
position: relative;
display: block;
}
.menu-hover:after {
list-style-type: none;
content: "";
clear: both;
display: block;
}
.menu-hover .list {
list-style-type: none;
float: left
}
.menu-hover .list:hover {
list-style-type: none;
background: #4b545f
}
.menu-hover .list:hover a {
list-style-type: none;
color: #fff
}
.menu-hover .list a {
list-style-type: none;
display: block;
padding: 8px 5px;
color: #FFF;
text-decoration: none
}
.menu-hover .menu-hover {
background: #5f6975;
border-radius: 0px;
padding: 0;
position: absolute;
top: 100%
}
.menu-hover .menu-hover .list {
list-style-type: none;
float: none;
border-top: 1px solid #6b727c;
position: relative
}
.menu-hover .menu-hover .list a {
list-style-type: none;  
color: #fff;
}
.menu-hover .menu-hover .list a:hover {
background: #4b545f;
}

.menu-hover .menu-hover .menu-hover {
position: absolute;
left: 100%;
top: 0;
color: #fff
}

.js-enabled .menu-hover .list:hover > .menu-hover {
list-style-type: none;  
display: none;
}*/



.menus ul {
    /**zoom:1;*/
    list-style:none;
    margin-left:10px;
    padding:0;
    /*background:#196481;*/
}

.menus ul li{
  /*z-index:2 !important; */
    z-index: 9999 !important;
}

.menus ul:before,.menus ul:after {
    content:"";
    display:table;
}
.menus ul:after {
    clear:both;
}
.menus ul > li {
    float:left;
    position:relative;
    width: 12vw;
}
.menus ul > #userId {
   
    border-left:1px solid #fff;
    /*border-right:1px solid #fff;*/
    text-align: center;
    /*align: right;*/
    width: 10vw;
    position:relative;
    /*text-overflow: ellipsis; 
    overflow: hidden; */
    /*top: 10px*/
    padding: 10px 15px;
    /*white-space: nowrap;*/
    /*overflow : hidden;*/
}


/*.menus ul > #userId:after{
    content:'';
    clear:both;
    display:table;
}*/


@media only screen and (max-width: 768px) {
    .menus ul > #userId {
    /*background-color: green;*/
    /*float:right;*/
    width: 10vw;
    position:relative;
    }
}

#userId{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.menus a {
    text-decoration:none;
    display:block;
    padding:10px 3px;
    line-height:1.2em;
    letter-spacing: 1px;
    color:#fff;
    border-left:1px solid #fff;
}
.menus a:hover {
    text-decoration:none;
    color: #fff;

    /*overflow: auto !important;*/
    /*background:#595959;*/


}
.menus li ul {
    /*background-color:yellow;*/
    /*color: green !important;*/
    /*box-shadow: 3px 3px #888888;*/
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    /*border: 1px solid #808080;*/

}

/*.menus ul li ul li*/
.menus li ul li {
    width:200px;
    background-color: #fff;
    z-index: 9999 !important;

    
     /*background-color:yellow;*/
}

.menus li ul a {
    border:none;
    color: #196481;
    font-weight: bold;
    font-size: 10px;
    /*position: absolute;*/
    z-index: 9999 !important;
    /*text-decoration: underline;*/
}

.menus li ul a:hover {
    /*background-color:#47839A;*/
    font-style: oblique;
    color: #fff;
    -moz-transform: scale(1.08); -webkit-transform: scale(1.08); transform: scale(1.08)
}

.lowcase{
    font-size: 10px;
    text-transform: none;

}




/*Slide Down #2*/

.menus li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:2 !important;
}
.menus li ul li {
    overflow:hidden;
    max-height:0;
    -webkit-transition:max-height 1000ms ease;
    -moz-transition:max-height 1000ms ease;
    -o-transition:max-height 1000ms ease;
    transition:max-height 1000ms ease;
}
.menus ul > li:hover ul li {
    max-height:300px;

}



nav a {
    position: relative;
    display: inline-block;
    margin: 1px 1px 1px 0px;
    outline: none;
    /*color: #fff;*/
    text-decoration: none;
    text-transform: uppercase;
    /*background-color: green;*/
    /*letter-spacing: 1px;    */
    /*font-weight: 400;*/
    /*width: 200px*/
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 12px;
}

.cl-effect-5 a {
    overflow: hidden;
    /*padding: 0 4px;*/
    /*height: 1em;*/
}

.cl-effect-5 a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.15s;
    -moz-transition: -moz-transform 0.15s;
    transition: transform 0.15s;
}

.cl-effect-5 a span::before {
    /*display: none;*/
    position: absolute;
    top: 175%;
    content: attr(data-hover);
    /*font-weight: 700;*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span{
/*background:#595959;*/
    -webkit-transform: translateY(-170%);
    -moz-transform: translateY(-170%);
    transform: translateY(-170%);
}



