<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title><?php echo Lang::get('content.gps'); ?></title>
  <link rel="shortcut icon" href="assets/imgs/tab.ico">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/jVanilla.css" rel="stylesheet">
  <link href="assets/css/simple-sidebar.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
  <link href="../app/views/reports/datepicker/bootstrap-datetimepicker_new.css" rel="stylesheet" type="text/css">
  <link href="../app/views/reports/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
  <link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

  <style type="text/css">

    .dialog_header {
      padding:5px; padding-left: 10px; padding-right: 10px; letter-spacing: 1px;

    }

    .panel-default {
      margin-top: 10px;
    }

    .hint {
      padding-top: 7px;
      padding-left: 5px;
      font-size: 12px;
      color: gray;
    }

    .backButton {
      margin-top: 10%;
    }

/*#sidebar-wrapper-site
{
margin-top: 0px !important;
}*/
</style>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2X3F316479"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2X3F316479');
</script>
</head>
<div id="status">&nbsp;</div>
<body ng-app="mapApp">
  <div ng-controller="mainCtrl" class="bg_color ng-cloak">
    <div ng-show="showSidebar">
      <?php include('menubarlist.php');?>
    </div>
    <div ng-show="showPasswordError" class="text-center text-danger" style="padding-left: 4%;padding-top: 4%"><b><?php echo Lang::get('content.password_alert'); ?></b></div>
    <div ng-show="showPasswordError" class="text-center text-danger" style="padding-left: 4%;"><b><?php echo Lang::get('content.password_alert2'); ?></b></div>
    <div class="wrapper">
      <!-- part one -->
      <div class="modal-dialog" ng-hide="selectStopEdit">
        <!-- reset -->
        <div class="modal-content" ng-show="selectEdit1" style="left: 50px;" ng-style="{ 'top': showPasswordError ? '30px' : '115px',}" >
          <div class="modal-header" style="padding:5px; padding-left: 10px; padding-right: 10px">
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
            <div class="row"> 
              <div class="col-md-9">
                <h5> <?php echo Lang::get('content.reset_password'); ?>
                </h5> </div>
                <div class="col-md-3 helpVideo" style="margin-top: 5px;" >
                  <span><a ng-href="{{videoLink}}" target="_blank" style="padding-left: 3px;color: white;text-decoration: none;position: relative;top: 1.5px;font-weight: bold;"><i class="fa fa-question-circle fa-lg" style="font-size: 15px;color: white;margin-right: 3px;"></i><?php echo Lang::get('content.help'); ?></a></span>
                </div></div>

              </div>
              <!-- <div > -->
                <div class="col-md-12">
                  <div class="alert alert-info" ng-if="error != ''">
                    <strong>{{error}}</strong>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body"  style="height: 320px;">
                      <div class="text-center">

                        <!-- <p>If you have forgotten your password you can reset it here.</p> -->
                        <div class="panel-body"  style="padding: 0px"> 
                          <fieldset>
                            <div class="form-group">
                              <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.cur_pass'); ?>" ng-model="oldValue" ng-show="check">
                              <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.cur_pass'); ?>" ng-model="oldValue" type="password" ng-hide="check">
                            </div>
                            <div class="form-group">
                              <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.new_pass'); ?>" ng-model="firstVal" ng-show="check">
                              <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.new_pass'); ?>" ng-model="firstVal" type="password" ng-hide="check">
                              <div class="text-left hint">
                               <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                               <span><?php echo Lang::get('content.password_hint'); ?></span>
                             </div>
                           </div>
                           <div class="form-group">
                            <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.re_enter_pass'); ?>" ng-model="reEnterVal" ng-show="check">
                            <input class="form-control input-sm" placeholder="<?php echo Lang::get('content.re_enter_pass'); ?>" ng-model="reEnterVal" type="password" ng-hide="check">
                            <div class="text-left hint">
                             <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                             <span><?php echo Lang::get('content.password_hint'); ?></span>
                           </div>
                         </div>
                         <div class="col-md-12">
                          <!-- <input class="btn btn-sm btn-primary btn-block" value="Check" type="submit" ng-click="oldPwdCheck()" ng-hide="hideDialog"> -->
                          <div class="col-md-12">
                            <label class="checkbox pull-left"><input type="checkbox" value="" ng-model="check"><?php echo Lang::get('content.show_password'); ?></label>
                          </div>
                          <div class="col-md-6">
                            <input class="btn btn-sm btn-primary btn-block backButton" ng-style="{ 'margin-left': showPasswordError ? '50%' : '' }" value="<?php echo Lang::get('content.submit'); ?>" type="submit" ng-click="updatePwd()" >
                          </div><div class="col-md-6" ng-hide="showPasswordError">
                            <a class="btn btn-sm btn-default btn-block backButton" href="../public/track"><?php echo Lang::get('content.back'); ?></a>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="modal-footer" style="padding: 0px">

              </div>
            </div>

            <!-- notification -->
            <!--  <div class="modal-content" ng-show="selectEdit2"> -->
              <div class="row"  ng-show="selectEdit2">
                <!-- <?php include('menubarlist.php');?> -->
                <div class="box box-primary" style="min-height:570px;margin-top:50px;margin-left:-30%;width: 175%;">
                  <div>
                    <!-- <span class="pull-right" style="margin-right: 15px; margin-top: 15px;"><input class="btn btn-xs btn-danger pull-right" style="background-color:#de5a30;border-color: #de5a30;padding: 3px 8px 3px 8px;" type="button" value="Home" ><a href="../public/track"></a></span> -->
                    <div class="pull-right helpVideo" style="margin-right: 55px; margin-top: 15px;">
                      <span><a ng-href="{{videoLink}}" target="_blank" style="padding-left: 3px;color:white;text-decoration: none;position: relative;top: 1.5px;font-weight: bold;"><i class="fa fa-question-circle fa-lg" style="font-size: 15px;color: white;margin-right: 3px;"></i><?php echo Lang::get('content.help'); ?></a></span>
                    </div>
                    <span class="pull-right" style="margin-right: 55px; margin-top: 15px;">     
                      <a class="btn btn-sm" href="../public/track" style="background-color:#de5a30;border-color: #de5a30;padding: 3px 8px 3px 8px;color: #ffffff;"><?php echo Lang::get('content.back'); ?></a>
                    </span>
                    <span class="pull-right" style="margin-top: 15px;margin-right: 15px; "><input class="btn btn-xs btn-danger pull-right" style="background-color: #18bdda;border-color: #18bdda;padding: 3px 8px 3px 8px;" type="button" value="<?php echo Lang::get('content.update'); ?>" ng-click="updateNotify()"></span>

                    <div class="modal-header">
                      <h4 class="modal-title"><?php echo Lang::get('content.edit_notification'); ?>
                      </h4>
                    </div>
                    <div class="box-body" style=" margin-left: 38px;">
                  <!-- <div class="empty" align="center"></div>
                     <div class="row" style="padding-top: 20px;"></div>
                   -->
                   <div class="portlet-body" >
                    <table class="table table-hover table-dark columnStyle table-striped table-condensed" style="padding:10px 0 10px 0;width: 95%;margin-top: 15px;">                
                      <tbody>

                        <tr ng-repeat="val in notificationValue | filter:searchData">
                          <td><input type="checkbox" ng-model="notifyUpdate[$index]" ng-checked="notifyUpdate[$index]"/></td> 
                          <td style="">{{val}}</td>
                        </tr>

                      </tbody>

                    </table>            

                  </div>
                </div>

              </div>
            </div>

          </div>
          <!-- api Key -->
          <div class="modal-content" ng-show="selectEdit3" style="width: 500px;top:125px;left: 60px">
            <div class="modal-header dialog_header">
              <h5> <?php echo Lang::get('content.get_apikey'); ?> </h5> 
            </div>


            <div class="container">
             <div class="row" ng-show="validDayShow">

               <!-- <div class='col-md-2' style="padding-top: 50px;padding-bottom: 50px;margin-left: 25px;"> 
                      <input ng-model="apiDateTime" type='text' class="form-control" id='datetimepicker4' placeholder="Choose date & time"/>
                    </div> -->

                    <div class='col-md-2' style="padding-top: 50px;padding-bottom: 50px;margin-left: 25px;"> 
                      <h5><b><?php echo Lang::get('content.valid_days'); ?> :</b></h5>
                    </div> 

                    <div class='col-md-2'  style="padding-top: 50px;padding-bottom: 50px;">
                      <input ng-model="apiValDays" type='text' class="form-control"  placeholder="<?php echo Lang::get('content.num_of_days'); ?>"/>
                    </div>
                  </div>

                  <div class="row" ng-hide="validDayShow">

                    <div  style="padding-top: 50px;padding-bottom: 50px;padding-left:70px;"> 
                      <span>  <h5><b><?php echo Lang::get('content.ApiKey'); ?> :</b> &nbsp; <b style="color:green;">{{apiKeyVal}}</b></h5></span>
                    </div> 

                  </div>

   <!--   <li class="list-group-item" ng-repeat="(key, val) in notificationValue">
        <label ><input type="checkbox" ng-model="notifyUpdate[$index]" ng-checked="checkValue(val)"/> {{key}}</label>
      </li> -->
      
    </div>

    <div class="modal-footer dialog_header">

      <div class="col-md-2"></div>

      <div class="col-md-4" ng-hide="validDayShow"></div>
      <div class="col-md-4">
       <a class="btn btn-sm btn-default btn-block" href="../public/track"><?php echo Lang::get('content.back'); ?></a>
     </div>

     <div class="col-md-4" ng-show="validDayShow">
       <button type="button" class="btn btn-primary btn-block" ng-click="getApiKey()"><?php echo Lang::get('content.submit'); ?></button>
     </div>

   </div>

 </div>

</div>
<!-- part two -->
<!-- <div ng-show="selectStopEdit"></div> -->
<div class="container" ng-show="selectStopEdit" style="margin-left: 7%;">
      <!-- <div id="sidebar-wrapper-site" style="min-width:92px;margin-top: 0px">

            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a></li>
                <li class="track"><a href="../public/track"><div></div><label><?php echo Lang::get('content.track'); ?></label></a></li>
                <li class="alert01" ng-if="!reports"><a href="../public/reports" ><div></div><label><?php echo Lang::get('content.reports'); ?></label></a></li>
                <li class="alert01" ng-if="reports"><a href="javascript:void(0);" class="active"><div></div><label><?php echo Lang::get('content.reports'); ?></label></a></li>
                <li class="stastics" ng-if="!stastics"><a href="../public/statistics?ind=1"><div></div><label><?php echo Lang::get('content.statistics'); ?></label></a></li>
                <li class="stastics" ng-if="stastics"><a href="javascript:void(0);" class="active"><div></div><label><?php echo Lang::get('content.statistics'); ?></label></a></li>
                <li class="admin"><a href="../public/settings"><div></div><label><?php echo Lang::get('content.scheduled'); ?></label></a></li>
                <li class="fms" ng-if="!fmsactive"><a href="../public/fleetManagement?fms=FleetManagement"><div></div><label><?php echo Lang::get('content.FMS'); ?></label></a></li>
                <li class="fms" ng-if="fmsactive"><a href="../public/fleetManagement?fms=FleetManagement" class="active"><div></div><label><?php echo Lang::get('content.FMS'); ?></label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>
            </ul>
            
            
            
</div>
<div id="testLoad" style="margin-left: 5%"></div> -->

<div class="panel panel-default" style="margin-top: 10%;">
  <div class="panel-heading"><b><?php echo Lang::get('content.edit_busstop'); ?></b>
          <!-- <div class="col-md-1">
            <span class="pull-right"><input class="btn btn-xs btn-danger pull-right" type="button" value="{{caption}}" ng-click="switching()"></span>

            <span class="pull-right"><a class="btn btn-sm btn-default btn-block" href="../public/track">Home</a></span>

            
          </div> -->
          <div class="btn-group pull-right row">
            <div class="col-md-1"><input class="btn btn-xs btn-danger pull-right" type="button" value="{{caption}}" ng-click="switching()"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"> <a class="btn btn-xs btn-default pull-right" href="../public/track"><?php echo Lang::get('content.home'); ?></a></div>
          </div>
        </div>
        <div class="panel-body" ng-hide="switchingVar">
          <h6 style="color: red">{{error}}</h6>

        <!--  <div class="col-md-3">
            <select ng-options="vehi for vehi in vehiStopList" ng-model="selectRouteName" class="form-control" ng-change="_addDetails()">
              <option style="display:none" value="">Select Vehicle</option>
            </select>
          </div> -->
          
          <div><?php echo Lang::get('content.routes'); ?> :&nbsp;&nbsp;&nbsp;&nbsp;
           <select id="routeDataList" ng-model="selectRouteName" ng-change="_addDetails()" style="width:300px;">
            <option style="display:none" value="" disabled><?php echo Lang::get('content.select_route'); ?></option>
          </select>
          <span style="padding-left:20%;"><?php echo Lang::get('content.route'); ?>:  {{selectRouteName}}</span>
        </div>

          <!-- <div class="col-md-3">
             <input type="text" class="form-control" placeholder="Phone Number Search..." >
             <div style="font-size: 9px; text-align: center;">mob num1, mob num2,...,mob num n</div>
           </div> -->
           <hr>

           <table class="table table-bordred table-hover">
            <thead>
              <th><?php echo Lang::get('content.sno'); ?></th>
              <th><?php echo Lang::get('content.enrollno'); ?></th>
              <th><?php echo Lang::get('content.studentname'); ?></th>
              <th><?php echo Lang::get('content.mobileno'); ?></th>
              <th><?php echo Lang::get('content.standard'); ?></th>
              <th width="25%"><?php echo Lang::get('content.busstop'); ?></th>
              <th><?php echo Lang::get('content.edit'); ?> &nbsp;|&nbsp; <?php echo Lang::get('content.delete'); ?></th>
            </thead>
            <tbody>
              <tr ng-repeat = "row in rowsValue">
                <td>{{$index+1}}</td>
                <td><input type="text" ng-if="row.eNum == ' '" ng-model="row.eNumNew" class="form-control input-sm">{{row.eNum}}</td>
                <td><input type="text" ng-if="row.sName == ' '" ng-model="row.sNameNew" class="form-control input-sm">{{row.sName}}</td>
                <td><input type="text" ng-if="row.mNum == ' '" ng-model="row.mNumNew" class="form-control input-sm">{{row.mNum}}</td>
                <td><input type="text" ng-if="row.std == ' '" ng-model="row.stdNew" class="form-control input-sm">{{row.std}}</td>
                <td>
                  <select ng-if="row.poiIds == ''" ng-options="vehi.stop for vehi in stopList" ng-model="row.poiId" class="form-control input-sm">
                    <option style="display:none" value=""><?php echo Lang::get('content.select_busstop'); ?></option>
                  </select>{{row.poiIds}}
                </td>

                <td><button class="btn btn-default btn-xs" ng-click="_editStop($index, 'one')" ng-if="row.mNum != ' '"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_undoEdit($index, 'one')" ng-if="row.mNum == ' '"><span class="glyphicon glyphicon-ok"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_deleteMobNum($index)"><span class="glyphicon glyphicon-trash"></span></button></td>
              </tr>
              <tr ng-if="rowsValue.length == 0" class="err"><td colspan="7"><h5><?php echo Lang::get('content.no_data_found'); ?></h5></td></tr>
            </tbody>
          </table>
          <hr>
          <div class="col-md-3">
            <div class="input-group">
              <input type="number" class="form-control" placeholder="<?php echo Lang::get('content.add_rows'); ?>" min="0" ng-model="counts">
              <span class="input-group-addon" ng-click="addRows(counts)"><a class="glyphicon glyphicon-plus" style="text-decoration: none; cursor: pointer;"></a> </span>
            </div>
          </div>
          <div class="col-md-7"></div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" ng-click="submitValue()"><?php echo Lang::get('content.submit'); ?></button>
          </div>


        </div>
        <!-- for searching panel -->
        <div class="panel-body" ng-show="switchingVar">
          <h6 style="color: red">{{error}}</h6>
          
          <div class="col-md-3">
           <input type="text" class="form-control" placeholder="<?php echo Lang::get('content.mobileno_search'); ?>" ng-model="mobileNo">
           <div style="font-size: 9px; text-align: center;"><?php echo Lang::get('content.space'); ?></div>
         </div>
         <div class="col-md-3">
           <input type="button" class="btn btn-primary btn-block" value="<?php echo Lang::get('content.search'); ?>" ng-click="searchingMobile(mobileNo)">

         </div>
         <hr>
         <table class="table table-bordred table-hover">
          <thead>
            <th><?php echo Lang::get('content.sno'); ?></th>
            <th><?php echo Lang::get('content.route'); ?></th>
            <th><?php echo Lang::get('content.enrollno'); ?></th>
            <th><?php echo Lang::get('content.studentname'); ?></th>
            <th><?php echo Lang::get('content.mobileno'); ?></th>
            <th><?php echo Lang::get('content.standard'); ?></th>
            <th width="25%"><?php echo Lang::get('content.busstop'); ?></th>
            <th><?php echo Lang::get('content.delete'); ?></th>
            <!-- <th>Edit &nbsp;|&nbsp; Delete</th>-->

          </thead>
          <tbody>
            <tr ng-repeat = "value in searchValue.studentDetails">
              <td>{{$index+1}}</td>
              <td>{{value.route}}</td>
              <td>{{value.enrollNum}}</td>
              <td>{{value.name}}</td>
              <td >{{value.mobileNumber}}</td>
              <td>{{value.class}}</td>
              <td>{{value.busStop}},&nbsp;{{value.BusStopName}}</td>

              <td><!--<button class="btn btn-default btn-xs" ng-click="_editStop($index, 'one')" ng-if="row.mNum != ' '"><span class="glyphicon glyphicon-pencil"></span></button>&nbsp;&nbsp;<button class="btn btn-default btn-xs" ng-click="_undoEdit($index, 'one')" ng-if="row.mNum == ' '"><span class="glyphicon glyphicon-ok"></span></button>&nbsp;&nbsp;--><button class="btn btn-default btn-xs"  ng-click="_deleteFilterMobNum($index,value.mobileNumber,value.route)"><span class="glyphicon glyphicon-trash"></span></button></td>

            </tr>
          </tbody>
          <tr ng-if="searchValue.error != null" class="err"><td colspan="5"><h6>{{searchValue.error}}</h6></td></tr>
        </table>
      </div>
      <div id="snackbar">{{toast}}</div>
    </div>

  </div>

</div>
</div>

<script src="assets/js/static.js"></script>
<script src="assets/js/jquery-1.11.0.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="assets/js/ui-bootstrap-0.6.0.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular-translate.js"></script> 
<script src="../app/views/reports/datepicker/bootstrap-datetimepicker_new.js"></script>
<script src="../app/views/reports/datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/vamoApp.js"></script>
<script src="assets/js/services.js"></script>
<script src="assets/js/auth_pwd.js?v=<?php echo Config::get('app.version');?>"></script>
</body>
</html>
